@import "variables.less";
@import "mixins";

.b-error {
	text-align: center;
	margin-top: 95px;
	margin-bottom: 320px;
}

.b-error__title {
	font-size: 300px;
	font-weight: bold;
}

.b-error__text {
	font-size: 40px;
	font-weight: bold;
	margin-top: -45px;
}
