@import "variables.less";
@import "mixins";

.b-subscribe-done {
	background: 93px 6px no-repeat url("../../assets/img/order-done.png");
	background-size: 101px;
	margin-top: 50px;
	margin-bottom: 115px;
}

.b-subscribe-done__title {
	font-weight: bold;
	font-size: 40px;
	margin-left: 225px;
}

.b-subscribe-done__text {
	font-size: 30px;
	line-height: 32px;
	margin-left: 225px;
}
