@import "variables.less";
@import "mixins";

.b-offer-variants {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 100px;
}

.b-offer-variants__header {
	font-size: 40px;
	line-height: 48px;
	font-weight: bold;
	margin-bottom: 32px;
}

.b-offer-variants__list {
	.clearfix();
	padding: 0 20px;
}

.b-offer-variants__item {
	float: left;
	background: #f5f9fc;
	margin: 0 10px;
	width: 300px;
	border-radius: 5px;
	padding: 15px 14px;
}

.b-offer-variants__title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

.b-offer-variants__text {
	margin-bottom: 15px;
}

.b-offer-variants__price {
	font-size: 30px;
}

.b-offer-variants__rub {
	font-size: 75%;
}

.b-offer-variants__item_1 {
	.b-offer-variants__title {
		color: #e74c3c;
	}
}

.b-offer-variants__item_2 {
	.b-offer-variants__title {
		color: #008fcb;
	}
}

.b-offer-variants__item_3 {
	.b-offer-variants__title {
		color: #9c1cae;
	}
}
