@import "variables.less";
@import "mixins";
@import "mymixins";

.b-review {

}

.b-review__link {
	position: relative;
	display: block;

	&:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 42px;
		height: 42px;

		border-radius: 50%;
		transition: all .05s ease-out;
	}
}

.b-review_image {
	background: left top no-repeat url("../../assets/img/reviews-list-type-mail-center.png");
	background-size: cover;
	width: 278px;
	padding: 0 56px 0 32px;
	margin: 35px 0 50px 32px;

	position: relative;

	&:before {
		position: absolute;
		top: -35px;
		left: 0;
		background: left top no-repeat url("../../assets/img/reviews-list-type-mail-top.png");
		background-size: 278px 35px;
		width: 278px;
		height: 35px;

		content: '';
	}
	&:after {
		position: absolute;
		bottom: -60px;
		left: 0;
		background: left top no-repeat url("../../assets/img/reviews-list-type-mail-bottom.png");
		background-size: 278px 60px;
		width: 278px;
		height: 60px;

		content: '';
	}

	.b-review__link {
		&:after {
			background: #008fcb center center no-repeat url("../../assets/img/zoom.svg");
			background-size: 14px;
			box-shadow: 0 8px 48px rgba(0, 143, 203, .4);
		}

		&:hover:after {
			width: 51px;
			height: 51px;
			background-size: 17px;
		}
	}
}

.b-review_video {
	.b-review__link {
		&:after {
			background: #e74c3c center center no-repeat url("../../assets/img/play.svg");
			background-size: 13px 15px;
			box-shadow: 0 8px 48px rgba(231, 76, 60, .8);
		}

		&:hover:after {
			width: 50px;
			height: 50px;
			background-size: 15px 18px;
		}
	}
}

.b-reviews__head {
	.my-heading-h1();

	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.b-reviews__lead {
	.my-heading-lead();

	margin: 0 15px 90px;
	text-align: center;
}
