doctype html
html
    include ./includes/head.jade
    body.g-bg-dark
        .b-error
            p.b-error__code 404
            p.b-error__caption Ошибка
            h1.b-error__title Страница не найдена
            p.b-error__text К сожалению, такой страницы не существует на нашем сайте.

            a.b-error__button(href='index.html') На главную
