extends ./layouts/layout.jade
block content
    .b-page
        .container
            .b-error
                p.b-error__title 404
                p.b-error__text Страница не найдена
                