extends ./layouts/layout.jade

block content
    .b-page
        .container
            .text-center.hidden-lg.hidden-xl
                a.b-page__back(href='blog.html') Посмотреть все статьи

            .visible-lg.visible-xl
                h2.b-page__title Справочник клиента

            .b-blog-menu
                .b-blog-menu__list
                    .b-blog-menu__item.b-blog-menu__item_home: a.b-blog-menu__link(href='#'): i.b-blog-menu__icon.b-blog-menu__icon_home
                    .b-blog-menu__item.b-blog-menu__item_active
                        a.b-blog-menu__link(href='#') Баннеры
                        .b-blog-menu__list
                            .b-blog-menu__item: a.b-blog-menu__link(href='#') Площадки
                            .b-blog-menu__item: a.b-blog-menu__link(href='#') Инструкции
                            .b-blog-menu__item: a.b-blog-menu__link(href='#') Новинки индустрии
                            .b-blog-menu__item: a.b-blog-menu__link(href='#') Типы баннеров
                    .b-blog-menu__item: a.b-blog-menu__link(href='#') Сервисы
                    .b-blog-menu__item: a.b-blog-menu__link(href='#') Реклама
                    .b-blog-menu__item: a.b-blog-menu__link(href='#') Бизнес
                    .b-blog-menu__item: a.b-blog-menu__link(href='#') Уроки
                    .b-blog-menu__item: a.b-blog-menu__link(href='#') Жизнь студии
                    .b-blog-menu__item.b-blog-menu__item_search
                        a.b-blog-menu__link(href='#'): i.b-blog-menu__icon.b-blog-menu__icon_search
                        form.b-search-form.hidden
                            input.b-search-form__input(type="text", name="q", placeholder="Введите что-нибудь и нажмите “Enter”")
                            a.b-search-form__close(href='#')

            .b-blog-item
                h1.b-blog-item__title Яндекс.Баян: пошаговое руководство по настройке рекламной кампании

                .b-blog-item__lead
                    .b-blog-item__info.b-blog-item__info_date 16 марта 2015
                    .b-blog-item__info.b-blog-item__info_comments 4 комментария
                    .b-blog-item__info.b-blog-item__info_views 1242 просмотра
                    .b-blog-item__info.b-blog-item__info_category #[span.hidden-xs Категория: ]#[a.b-blog-item__link(href='#') Жизнь студии]
                    .b-blog-item__info.b-blog-item__info_share
                        .b-blog-item__share
                            script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
                            script(src="//yastatic.net/share2/share.js")
                            .ya-share2(data-services="vkontakte,facebook,twitter")
                .b-blog-item__text.b-text
                    p Выберите подходящие настройки показов на тематических площадках. Укажите долю бюджета кампании, которую вы готовы тратить на переходы с сайтов-партнеров «Яндекса». Учитывайте особенности вашего бизнеса и тематику объявлений. Например, для продавцов пиццы с доставкой предпочтительнее привлекать транзакционный трафик со страницы выдачи. А продавцам сложных и дорогих продуктов лучше сделать акцент на трафике с тематических сайтов, на которых аудитория ищет информацию в ходе потребительского путешествия.

                    .text-center
                        img(src='http://placehold.it/530x410')
                    p С 13 по 16 апреля сайт ни разу не занимал одинаковую позицию. 15 апреля в топ вошли сайты #[a(href='#') zarplatawmz.ru] и dolinacoda.ru. Первый 16 апреля из топа исчез, а второй там удержался. 16 апреля «Яндекс» показывал в выдаче по выбранному запросу блок с видео.
                    .b-content-grid
                        .b-content-grid__item
                            .b-content-grid__image
                                img.img-responsive(src='http://placehold.it/200x200', alt='')
                            h4.b-content-grid__title Lorem ipsum dolor sit amet
                            .b-content-grid__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero turpis, sodales at diam sit amet, ullamcorper viverra quam. Nam placerat, augue a blandit ultrices
                        .b-content-grid__item
                            .b-content-grid__image
                                img.img-responsive(src='http://placehold.it/200x200', alt='')
                            h4.b-content-grid__title Lorem ipsum dolor sit amet
                            .b-content-grid__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero turpis, sodales at diam sit amet, ullamcorper viverra quam. Nam placerat, augue a blandit ultrices, felis sem viverra dui, fringilla blandit erat diam ut nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sed ipsum nec dui tincidunt fermentum ac sed risus.
                        .b-content-grid__item
                            .b-content-grid__image
                                img.img-responsive(src='http://placehold.it/200x200', alt='')
                            h4.b-content-grid__title Lorem ipsum dolor sit amet
                            .b-content-grid__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero turpis, sodales at diam sit amet, ullamcorper viverra quam. Nam placerat, augue a blandit ultrices
                        .b-content-grid__item
                            .b-content-grid__image
                                img.img-responsive(src='http://placehold.it/200x200', alt='')
                            h4.b-content-grid__title Lorem ipsum dolor sit amet
                            .b-content-grid__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero turpis, sodales at diam sit amet, ullamcorper viverra quam. Nam placerat, augue a blandit ultrices
                        .b-content-grid__item
                            .b-content-grid__image
                                img.img-responsive(src='http://placehold.it/200x200', alt='')
                            h4.b-content-grid__title Lorem ipsum dolor sit amet
                            .b-content-grid__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero turpis, sodales at diam sit amet, ullamcorper viverra quam. Nam placerat, augue a blandit ultrices, felis sem viverra dui, fringilla blandit erat diam ut nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sed ipsum nec dui tincidunt fermentum ac sed risus.
                        .b-content-grid__item
                            .b-content-grid__image
                                img.img-responsive(src='http://placehold.it/200x200', alt='')
                            h4.b-content-grid__title Lorem ipsum dolor sit amet
                            .b-content-grid__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero turpis, sodales at diam sit amet, ullamcorper viverra quam. Nam placerat, augue a blandit ultrices


                    .b-gallery
                        a.b-gallery__item(href='http://farm6.staticflickr.com/5444/17679973232_568353a624_b.jpg', rel='gallery_1', title=''): img.b-gallery__image(src='http://farm6.staticflickr.com/5444/17679973232_568353a624_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_1', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_1', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_1', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_1', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                    .b-gallery
                        a.b-gallery__item(href='http://placehold.it/2000x500', rel='gallery_2', title='Gallery 2'): img.b-gallery__image(src='http://farm6.staticflickr.com/5444/17679973232_568353a624_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_2', title='Gallery 2 (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_2', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_2', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                        a.b-gallery__item(href='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg', rel='gallery_2', title='Codirosso spazzacamino (Massimo Greco _Foligno)'): img.b-gallery__image(src='http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_m.jpg', alt='')
                    p Какие выводы можно сделать? Выдача «Яндекса» постоянно меняется как по коммерческим, так и по информационным запросам. Изменения происходят очень быстро. Сайты появляются и исчезают из топа. Также они постоянно меняют позиции на первой странице выдачи. Можно ли объяснить лабильность SERP многоруким бандитом? Да, хотя на изменения выдачи влияют и другие факторы, например, персонализация.

                    blockquote
                        p Для успешного продвижения сайта в эпоху поисковых бандитов, которые наверняка есть не только у «Яндекса», вам нужно выполнить три условия. Первое: в долгосрочной перспективе успех сайта и предприятия в целом зависит от удачной клиентоориентированной бизнес-модели. Не нужно подстраиваться под алгоритмы, надо давать людям выгодные условия сотрудничества всегда.

                    h4 Выберите подходящие настройки

                    p Выберите подходящие настройки показов на тематических площадках. Укажите долю бюджета кампании, которую вы готовы тратить на переходы с сайтов-партнеров «Яндекса». Учитывайте особенности вашего бизнеса и тематику объявлений. Например, для продавцов пиццы с доставкой предпочтительнее привлекать транзакционный трафик со страницы выдачи. А продавцам сложных и дорогих продуктов лучше сделать акцент на трафике с тематических сайтов, на которых аудитория ищет информацию в ходе потребительского путешествия.
                .b-tags.b-blog-item__tags
                    a.b-tags__item(href='#') Реклама
                    a.b-tags__item(href='#') Яндекс

        .b-blog
            .b-blog__list
                a.b-blog__item(href='blog_item.html')
                    p.b-blog__title Яндекс.Баян: пошаговое руководство по настройке рекламной кампании

                    .b-blog__content
                        img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                    .b-blog__text
                        p Один из самых доступных и популярных каналов входящего трафика, который конвертируется на целевых страницах и превращается в лиды или заявки.
                    .row.text-muted
                        .col-xs-6
                            span 16 марта 2015
                        .col-xs-6.text-right
                            span 4 комментария
                a.b-blog__item(href='blog_item.html')
                    p.b-blog__title Почему 9 из 10 слайдеров не работают и как это исправить?

                    .b-blog__content
                        img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                    .b-blog__text
                        p Оригинальный слайдер картинок. Слайдеры картинок удобно использовать в разделах фотогалерей, на сайтах интернет-магазинов для подробного описания.
                    .row.text-muted
                        .col-xs-6
                            span 15 августа 2013
                        .col-xs-6.text-right
                            span 1 комментарий
                a.b-blog__item(href='blog_item.html')
                    p.b-blog__title Flash или HTML5: сравнение по 10 критериям

                    .b-blog__content
                        img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                    .b-blog__text
                        p Начнем с того, что Flash технология переживает кризис уже не первый год. Наверное с 2000х годов время от времени поднимаются вопросы о том, какой Flash не актуальный.
                    .row.text-muted
                        .col-xs-6
                            span 16 марта 2015
                        .col-xs-6.text-right
                            span 16 марта 2015
        .container
            .b-blog-item__comments
                p Place for comments

            .b-subscribe
                p.b-subscribe__title Получайте новые статьи прямо на почту
                p.b-subscribe__lead Никакого спама или рекламы. Только статьи.

                form.form-inline.b-subscribe__form
                    .form-group
                        input.form-control.b-subscribe__input(name='email', type='email', placeholder='Введите свой email')
                    button.btn.btn-lg.btn-success.b-subscribe__button(type="submit") Подписаться
