extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title Справочник клиента

            p.b-page__lead Пишем о баннерах, рекламе, маркетинге, бизнесе, полезных сервисах, а&nbsp;также рассказываем немного о жизни студии.

            .b-blog-menu
                a.b-blog-menu__item(href='#') Главная
                a.b-blog-menu__item(href='#') Баннеры
                a.b-blog-menu__item(href='#') Сервисы
                a.b-blog-menu__item(href='#') Реклама
                a.b-blog-menu__item(href='#') Бизнес
                a.b-blog-menu__item(href='#') Уроки
                a.b-blog-menu__item(href='#') Жизнь студии
                a.b-blog-menu__item(href='#') Поиск
            .b-blog
                .b-blog__list
                    - for (var i=0; i<4;++i)
                        a.b-blog__item(href='#')
                            p.b-blog__title Яндекс.Баян: пошаговое руководство по настройке рекламной кампании

                            .b-blog__content
                                img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                            .b-blog__text
                                p Один из самых доступных и популярных каналов входящего трафика, который конвертируется на целевых страницах и превращается в лиды или заявки.
                            .row.text-muted
                                .col-xs-6
                                    span 16 марта 2015
                                .col-xs-6.text-right
                                    span 4 комментария
                        a.b-blog__item(href='#')
                            p.b-blog__title Почему 9 из 10 слайдеров не работают и как это исправить?

                            .b-blog__content
                                img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                            .b-blog__text
                                p Оригинальный слайдер картинок. Слайдеры картинок удобно использовать в разделах фотогалерей, на сайтах интернет-магазинов для подробного описания.
                            .row.text-muted
                                .col-xs-6
                                    span 15 августа 2013
                                .col-xs-6.text-right
                                    span 1 комментарий
                        a.b-blog__item(href='#')
                            p.b-blog__title Flash или HTML5: сравнение по 10 критериям

                            .b-blog__content
                                img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                            .b-blog__text
                                p Начнем с того, что Flash технология переживает кризис уже не первый год. Наверное с 2000х годов время от времени поднимаются вопросы о том, какой Flash не актуальный.
                            .row.text-muted
                                .col-xs-6
                                    span 16 марта 2015
                                .col-xs-6.text-right
                                    span 16 марта 2015
            .b-subscribe.b-subscribe_theme_alt
                p.b-subscribe__title Получайте новые статьи прямо на почту
                p.b-subscribe__lead Никакого спама или рекламы. Только статьи.

                form.form-inline.b-subscribe__form
                    .form-group
                        input.form-control.b-subscribe__input(name='email', type='email', placeholder='Введите свой email')
                    button.btn.b-subscribe__button(type="submit") Подписаться
