extends ./layouts/layout.jade

block content
    .b-page
        .container
            a.b-back-button(href='clients.html') Клиенты
            h1.b-page__title Классика

            .b-client
                .b-client__head
                    img.b-client__image(src='https://placehold.it/200x33')
                    a.b-client__link(href='#') apteka-klassika.ru

                .b-client__text.b-text
                    p На фармацевтическом рынке сеть аптек «Классика» существует с 1995 года. Это крупнейшая аптечная сеть на Урале, включающая более 180 аптек в 26 городах Челябинской и Свердловской областей. Аптеки находятся в Челябинске, Екатеринбурге, Тюмени и Магнитогорске. За эти 20 лет «Классика» прошла большой путь и приобрела имя, ставшее синонимом надежности и качества для людей по всему Уралу.
            .b-language-tabs.hidden-lg
                ul.b-language-tabs__list(role="tablist")
                    li.b-language-tabs__item.active(role="presentation"): a.b-language-tabs__link(href='#portfolio', aria-controls="portfolio", role="tab", data-toggle="tab"): span.b-language-tabs__title Работы
                    li.b-language-tabs__item(role="presentation"): a.b-language-tabs__link(href='#reviews', aria-controls="reviews", role="tab", data-toggle="tab"): span.b-language-tabs__title Отзывы

        .tab-content.tab-content__responsive
            .container
                h2.b-page__title.b-page__title_small.g-mt60.g-mb20.visible-lg Работы

            #portfolio.tab-pane.active(role="tabpanel")
                .b-portfolio.g-mb100.g-mt40
                    .b-portfolio__list
                        - for (var i=0; i<12;++i)
                            a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                                img.b-portfolio__image(src='assets/img/tmp/portfolio1.png')
                                .b-portfolio__content
                                    p.b-portfolio__title Самоедлинноеназваниефирмы
                                    p.b-portfolio__category Строительство
                                span.b-portfolio__type.b-portfolio__type_html5 HTML5
                                p.b-portfolio__date 10.02.2010
                            a.b-portfolio__item.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                                img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                                .b-portfolio__content
                                    p.b-portfolio__title Длинное название фирмы
                                    p.b-portfolio__category Строительство
                                span.b-portfolio__type.b-portfolio__type_gif GIF
                                p.b-portfolio__date 10.02.2010
                            a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                                img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                                .b-portfolio__content
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Динное название категории
                                span.b-portfolio__type.b-portfolio__type_jpg JPG
                                span.b-portfolio__like
                                p.b-portfolio__date 10.02.2010
                            a.b-portfolio__item.b-portfolio__item_width_2.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                                img.b-portfolio__image(src='//placehold.it/428x204')
                                .b-portfolio__content
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство
                                span.b-portfolio__type.b-portfolio__type_video ВИДЕО
                                p.b-portfolio__date 10.02.2010
                            a.b-portfolio__item.b-portfolio__item_width_2.b-portfolio__item_height_2.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                                img.b-portfolio__image(src='//placehold.it/428x428')
                                .b-portfolio__content
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство
                                span.b-portfolio__type.b-portfolio__type_story СТОРИС
                                p.b-portfolio__date 10.02.2010

            .container
                h2.b-page__title.b-page__title_small.g-mt60.g-mb20.visible-lg Отзывы

            #reviews.tab-pane(role="tabpanel")
                .b-reviews__container.b-reviews__container_background_white.g-pb90.g-mb20
                    .b-reviews__list
                        a.b-reviews__item.emerge.b-reviews__item_type_video(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__gutter
                            .b-reviews__header
                                .text-center: span.b-reviews__title 1ДСКиКО
                            .b-reviews__content
                                .b-reviews__media_video
                                    .b-reviews__link(href='http://www.youtube.com/watch?v=opj24KnzrWo'): img.img-responsive(src='http://placehold.it/320x180')
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Видеоотзывы
                        a.b-reviews__item.emerge.b-reviews__item_type_mail(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Газелькин
                            .b-reviews__content.b-reviews__content_type_image
                                .b-reviews__media_image
                                    .b-reviews__link(href='#review_1', data-url="http://placehold.it/196x264"): img.img-responsive(src='http://placehold.it/196x264')
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Рекомендации
                        a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Социальные сети
                        a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Социальные сети
                        a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Социальные сети
                        a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Социальные сети
                        a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Социальные сети
                        a.b-reviews__item.emerge.b-reviews__item_type_fl(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Задание было выполнено! Качество радует! Рекомендую!
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Fl.ru
                        a.b-reviews__item.emerge.b-reviews__item_type_forums(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Регулярно заказываем баннеры. Цены, качество, сроки - все отлично :)
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Форумы
                        a.b-reviews__item.emerge.b-reviews__item_type_forums(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                            .b-reviews__header
                                .text-center: span.b-reviews__title Exante
                            .b-reviews__content.b-reviews__content_type_text
                                p Регулярно заказываем баннеры. Цены, качество, сроки - все отлично :)
                            .b-reviews__footer
                                span.b-reviews__date 22.06.2016
                                span.b-reviews__type Форумы
                .hidden
                    #review_1
                        .b-review-image
                            .b-review-image__container
                                img(src="http://placehold.it/519x731", alt="")


        .b-clients.g-pt100
            .container
                h2.b-page__title_small Другие клиенты

            .container-fluid
                .b-clients__list.b-clients__list_faded
                    - for (var i=0; i<4;++i)
                        a.b-clients__item(href='client.html')
                            span.b-clients__title Классика
                            .b-clients__content
                                img.b-clients__image(src='assets/img/tmp/client_1_on.png')
                        a.b-clients__item(href='client.html')
                            span.b-clients__title MAXPROMO
                            .b-clients__content
                                img.b-clients__image(src='assets/img/tmp/client_2_on.png')
                        a.b-clients__item(href='client.html')
                            span.b-clients__title Жулькон
                            .b-clients__content
                                img.b-clients__image.b-clients__image_empty(src='assets/img/empty-logo.png')
                        a.b-clients__item(href='client.html')
                            span.b-clients__title MAXPROMO
                            .b-clients__content
                                img.b-clients__image(src='assets/img/tmp/client_2_on.png')
                        a.b-clients__item(href='client.html')
                            span.b-clients__title Московская консерватория
                            .b-clients__content
                                img.b-clients__image(src='assets/img/tmp/client_2_on.png')
                        a.b-clients__item(href='client.html')
                            span.b-clients__title Практика комфорта
                            .b-clients__content
                                img.b-clients__image(src='assets/img/tmp/client_2_on.png')
                        a.b-clients__item(href='client.html')
                            span.b-clients__title Евгений Лановой
                            .b-clients__content
                                img.b-clients__image(src='assets/img/tmp/client_2_on.png')
            .g-loader.g-loader_theme_dark
                .g-loader__content
                    .container
                        a.btn.btn-info.g-loader__link(href='clients.html') Все клиенты

        script.
            $('.b-portfolio__item').each(function(){
                $(this).data('hold', Math.floor(Math.random() * 400) + 50);
            });
            $('.b-reviews__container').css('visibility', 'hidden');
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $('.b-reviews__container').css('visibility', 'hidden');
                loadReviews(function(){
                    $('.b-reviews__container').css('visibility', 'inherit');
                });
            });

            $(window).on('resize', function () {
                loadReviews(function () {
                    if ($(window).width() >= 990) {
                        $('.b-reviews__container').css('visibility', 'inherit');
                    }
                });
            });
