extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title Классика

            .b-client
                .b-client__head
                    img.b-client__image(src='assets/img/tmp/client_1_on.png')
                    a.b-client__link(href='#') apteka-klassika.ru

                .b-client__text.b-text
                    p На фармацевтическом рынке сеть аптек «Классика» существует с 1995 года. Это крупнейшая аптечная сеть на Урале, включающая более 180 аптек в 26 городах Челябинской и Свердловской областей. Аптеки находятся в Челябинске, Екатеринбурге, Тюмени и Магнитогорске. За эти 20 лет «Классика» прошла большой путь и приобрела имя, ставшее синонимом надежности и качества для людей по всему Уралу.

        .b-portfolio.g-mb60
            .b-portfolio__list
                - for (var i=0; i<12;++i)
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio1.png')
                        .b-portfolio__content
                            p.b-portfolio__title Самоедлинноеназваниефирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title Длинное название фирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_gif GIF
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIVI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIVI
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
            script.
                $('.b-portfolio__item').each(function(){
                    $(this).data('hold', Math.floor(Math.random() * 400) + 50);
                });