extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title Контактная информация

            .b-contacts
                .b-contacts-grid
                    .b-contacts-grid__item.b-contacts-grid__item_phone
                        .b-contacts__item.b-contacts__item_phone +7 (812) 603-70-97
                    .b-contacts-grid__item.b-contacts-grid__item_skype
                        .b-contacts__item.b-contacts__item_skype: a.b-contacts__link(href='skype:tolkunovdb?chat') tolkunovdb
                    .b-contacts-grid__item.b-contacts-grid__item_vk
                        .b-contacts__item.b-contacts__item_vk: a.b-contacts__link(href='https://vk.com/im?media=&sel=-68302756', target='_blank') Messenger VK
                    .b-contacts-grid__item.b-contacts-grid__item_mail
                        .b-contacts__item.b-contacts__item_mail: a.b-contacts__link(href='mailto:order@tolkunov.com') order@tolkunov.com
                    .b-contacts-grid__item.b-contacts-grid__item_telegram
                        .b-contacts__item.b-contacts__item_telegram: a.b-contacts__link(href='http://telegram.me/tolkunovdb', target='_blank') tolkunovdb
                    .b-contacts-grid__item.b-contacts-grid__item_fb
                        .b-contacts__item.b-contacts__item_fb: a.b-contacts__link(href='https://www.facebook.com/messages/t/tolkunov', target='_blank') Messenger Facebook
            .b-map
                center
                    a.dg-widget-link(href="http://2gis.ru/chelyabinsk/firm/70000001022907880/center/61.366946697235115,55.129851325891494/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap") Посмотреть на карте Челябинска
                    .dg-widget-link
                        a(href="http://2gis.ru/chelyabinsk/center/61.366953,55.128472/zoom/16/routeTab/rsType/bus/to/61.366953,55.128472╎TOLKUNOV.COM, студия разработки баннеров?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route") Найти проезд до TOLKUNOV.COM, студия разработки баннеров
                    script(charset="utf-8", src="http://widgets.2gis.com/js/DGWidgetLoader.js")
                    script(charset="utf-8").
                        new DGWidgetLoader({
                            "width": "100%",
                            "height": 400,
                            "borderColor": "#a3a3a3",
                            "pos": {"lat": 55.129851325891494, "lon": 61.366946697235115, "zoom": 16},
                            "opt": {"city": "chelyabinsk"},
                            "org": [{"id": "70000001022907880"}]
                        });
                    noscript(style="color:#c00;font-size:16px;font-weight:bold;") Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
            .b-contact-links
                h2.b-contact-links__header Официальные аккаунты

                p.b-contact-links__lead Новые работы, полезности, акции, истории из жизни студии

                .b-contact-links__list
                    a.b-contact-links__item.b-contact-links__item_fb(href='#')
                    a.b-contact-links__item.b-contact-links__item_vk(href='#')
                    a.b-contact-links__item.b-contact-links__item_tw(href='#')
                    a.b-contact-links__item.b-contact-links__item_instagram(href='#')
                    a.b-contact-links__item.b-contact-links__item_youtube(href='#')
                    a.b-contact-links__item.b-contact-links__item_spark(href='#')
        .b-form
            .container
                form.b-form__form(action="")
                    .b-order-done
                        p.b-order-done__title Готово, ваша заявка отправлена!
                        p.b-order-done__text Мы внимательно изучим её, а затем свяжемся с вами.