extends ./layouts/layout.jade

block content
    .b-page
        .b-container-wide
            .row
                .clearfix
                    .col-xs-12.col-lg-6.col-xl-7
                        h1.b-page__title.b-page__title_index Делаем баннеры #[br] для медийной рекламы

                        .b-summary
                            a.b-summary__item.b-summary__item_1(href='portfolio_type_1.html')
                                .b-summary__number.odometer(data-number="985") 999
                                .b-summary__text баннеров&nbsp;#[br]в портфолио
                            a.b-summary__item.b-summary__item_2(href='reviews.html')
                                .b-summary__number.odometer(data-number="232") 999
                                .b-summary__text отзыва&nbsp;#[br]от клиентов
                        .b-showreel.b-showreel_mobile.hidden-lg
                            a.js-showreel.b-showreel__link(href='https://www.youtube.com/embed/xqB9KJsbIlU'): img.b-showreel__circle(src='/assets/img/showreel/showreel-circle.png')
                        .b-portfolio-tag-outer.b-portfolio-tag-outer_index
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.b-portfolio-tag_theme-violet(href='#' data-tag-background-hover="#252525") HTML5
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_image(href='#' data-tag-background-hover="#FD0000"): img.b-portfolio-tag__image(src='/assets/img/tmp/portfolio-tag/Яндекс-Лого.png' data-hover-src='/assets/img/tmp/portfolio-tag/hover/Яндекс-Лого.png')
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_image(href='#' data-tag-background-hover="#FEBB00"): img.b-portfolio-tag__image(src='/assets/img/tmp/portfolio-tag/Google-Лого.png' data-hover-src='/assets/img/tmp/portfolio-tag/hover/Google-Лого.png')
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.b-portfolio-tag_theme-green(href='#' data-tag-background-hover="#252525") JPG
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_image(href='#' data-tag-background-hover="#008CE2"): img.b-portfolio-tag__image(src='/assets/img/tmp/portfolio-tag/Mail.png' data-hover-src='/assets/img/tmp/portfolio-tag/hover/Mail.png')
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_image(href='#' data-tag-background-hover="#005EFD"): img.b-portfolio-tag__image(src='/assets/img/tmp/portfolio-tag/Рамблер-Лого.png' data-hover-src='/assets/img/tmp/portfolio-tag/hover/Рамблер-Лого.png')
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_image(href='#' data-tag-background-hover="#77D000"): img.b-portfolio-tag__image(src='/assets/img/tmp/portfolio-tag/Лого-Авито.png' data-hover-src='/assets/img/tmp/portfolio-tag/hover/Лого-Авито.png')
                                a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.b-portfolio-tag_theme-blue(href='#' data-tag-background-hover="#252525") GIF


                    .col-xs-12.col-lg-6.col-xl-5.visible-lg
                        .b-showreel.b-showreel_desktop
                            a.js-showreel.b-showreel__link(href='https://www.youtube.com/embed/xqB9KJsbIlU'): img.b-showreel__circle(src='/assets/img/showreel/showreel-circle.png')
        .clearfix.b-portfolio
            .b-portfolio__list
                - for (var i=0; i<6;++i)
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio1.png')
                        .b-portfolio__content
                            p.b-portfolio__title Самоедлинноеназваниефирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title Длинное название фирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_gif GIF
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIVI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIVI
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
            script.
                $('.b-portfolio__item').each(function(){
                    $(this).data('hold', Math.floor(Math.random() * 400) + 50);
                });

            .g-loader.g-loader_without-gradient
                .g-loader__content
                    a.btn.btn-info.g-loader__link(href='portfolio_type_1.html') Посмотреть все 985 работ

                    p.g-loader__text Запаситесь чашечкой чая или кофе — для просмотра всех работ потребуется больше 50 минут.
        .b-treatment.g-mt20
            .b-treatment__gradient
            .container.b-treatment__container
                .b-treatment__image

                .b-treatment__content
                    .b-treatment__column.b-treatment__column_1
                        p.b-treatment__title Эффектная графика#[br]с анализом рекламной#[br]площадки

                        .b-treatment__text
                            p Чтобы выделить предложение, я и моя команда анализируем площадку и информационное окружение баннера. Разрабатываем стилистику и анимацию для преодоления «баннерной слепоты» и привлечения внимания посетителей.
                    .b-treatment__column.b-treatment__column_2
                        b.b-treatment__name Толкунов Дмитрий
                        p.b-treatment__role директор студии

                        .b-treatment-links.b-treatment__links
                            a.b-treatment-links__item.b-treatment-links__item_vk(href='#')
                            a.b-treatment-links__item.b-treatment-links__item_fb(href='#')
                            a.b-treatment-links__item.b-treatment-links__item_tw(href='#')
        .container
            .b-splash-prices
                h2.b-splash-prices__header Интернет-баннеры всех видов и размеров

                .b-splash-prices__list
                    .b-splash-prices__item.b-splash-prices__item_1
                        a.b-splash-prices__title(href='#') HTML5-баннеры

                        .b-splash-prices__text Для любых сайтов, поддерживающих HTML5. В отличие от flash корректно отображается на мобильных устройствах.

                        .b-splash-prices__sizes.b-splash-sizes
                            a.b-splash-sizes__item(href='#') 240#[span.b-splash-sizes__divider x]400
                            a.b-splash-sizes__item(href='#') 200#[span.b-splash-sizes__divider x]300
                            a.b-splash-sizes__item(href='#') 250#[span.b-splash-sizes__divider x]250
                            a.b-splash-sizes__item(href='#') 800#[span.b-splash-sizes__divider x]110
                            a.b-splash-sizes__item(href='#') 160#[span.b-splash-sizes__divider x]600
                            a.b-splash-sizes__item(href='#') 300#[span.b-splash-sizes__divider x]300
                            a.b-splash-sizes__item.b-splash-sizes__item_more(href='#') ...
                        a.b-splash-prices__price(href='prices.html#html5') От 2990 руб.
                    .b-splash-prices__item.b-splash-prices__item_2
                        a.b-splash-prices__title(href='#') GIF-баннеры

                        .b-splash-prices__text Для сайтов, блогов и форумов, где нельзя разместить флеш или html5.

                        .b-splash-prices__sizes.b-splash-sizes
                            a.b-splash-sizes__item(href='#') 240#[span.b-splash-sizes__divider x]400
                            a.b-splash-sizes__item(href='#') 200#[span.b-splash-sizes__divider x]300
                            a.b-splash-sizes__item(href='#') 250#[span.b-splash-sizes__divider x]250
                            a.b-splash-sizes__item(href='#') 800#[span.b-splash-sizes__divider x]110
                            a.b-splash-sizes__item(href='#') 160#[span.b-splash-sizes__divider x]600
                            a.b-splash-sizes__item(href='#') 300#[span.b-splash-sizes__divider x]300
                            a.b-splash-sizes__item.b-splash-sizes__item_more(href='#') ...
                        a.b-splash-prices__price(href='prices.html#gif') От 990 руб.
                    .b-splash-prices__item.b-splash-prices__item_3
                        a.b-splash-prices__title(href='#') JPG-баннеры

                        .b-splash-prices__text Для рекламы в социальных сетях (Вконтакте, Facebook, Одноклассники) и сайтов компаний (например, для слайдера).

                        .b-splash-prices__sizes.b-splash-sizes
                            a.b-splash-sizes__item(href='#') 240#[span.b-splash-sizes__divider x]400
                            a.b-splash-sizes__item(href='#') 200#[span.b-splash-sizes__divider x]300
                            a.b-splash-sizes__item(href='#') 250#[span.b-splash-sizes__divider x]250
                            a.b-splash-sizes__item(href='#') 800#[span.b-splash-sizes__divider x]110
                            a.b-splash-sizes__item(href='#') 160#[span.b-splash-sizes__divider x]600
                            a.b-splash-sizes__item(href='#') 300#[span.b-splash-sizes__divider x]300
                            a.b-splash-sizes__item.b-splash-sizes__item_more(href='#') ...
                        a.b-splash-prices__price(href='prices.html#jpeg') От 490 руб.
                .text-center
                    a.btn.btn-success.btn-lg.b-splash-prices__button(href='prices.html') Посмотреть все тарифы
            .b-why-us
                h2.b-why-us__header Комфортное сотрудничество

                .b-why-us__list
                    .b-why-us__item
                        .b-why-us__image
                            img(src='assets/img/why-us/01-icon-deshevle.svg', width=154, height=155)
                        p.b-why-us__title Дешевле агентства, лучше фрилансера

                        .b-why-us__text
                            p Отвечаем репутацией за качество готового продукта, поэтому не&nbsp;передаём заказы фрилансерам.
                    .b-why-us__item
                        .b-why-us__image
                            img(src='assets/img/why-us/02-icon-opyt.svg', width=158, height=160)
                        p.b-why-us__title Опыт в почти 100 тематиках

                        .b-why-us__text
                            p Работали с клиентами из России, Украины, США, Канады, Польши. Делали баннеры для заводов, салонов красоты, салонов, брокеров, ресторанов, магазинов и многих других.
                    .b-why-us__item
                        .b-why-us__image
                            img(src='assets/img/why-us/03-icon-resultat.svg', width=159, height=154)
                        p.b-why-us__title Доведение проекта до&nbsp;результата

                        .b-why-us__text
                            p Клиент оплачивает решение задачи, а не просто красивую картинку. Если в готовом баннере что-то не устроит — бесплатно внесём обоснованные правки.
                    .b-why-us__item
                        .b-why-us__image
                            img(src='assets/img/why-us/04-icon-ponocsh.svg', width=156, height=157)
                        p.b-why-us__title Помощь в размещении баннера на сайте

                        .b-why-us__text
                            p Бесплатно консультируем по смежным вопросам: как разместить флеш-баннер, как вставить гиф-заглушку, где рекламироваться.
                    .b-why-us__item
                        .b-why-us__image
                            img(src='assets/img/why-us/05-icon-oplata.svg', width=138, height=139)
                        p.b-why-us__title Разные способы оплаты

                        .b-why-us__text
                            p Принимаем оплату на карту Сбербанка, на счёт Альфа-банка, QIWI, WebMoney, Яндекс.Деньги, расчетный счет ИП.
                    .b-why-us__item
                        .b-why-us__image
                            img(src='assets/img/why-us/06-icon-srochno.svg', width=158, height=146)
                        p.b-why-us__title Работа со срочными заказами

                        .b-why-us__text
                            p Помогаем выходить из тупиковых ситуаций, когда баннер нужен «еще вчера», а исполнитель перестал выходить на связь.
        .b-reviews__container
            h2.b-reviews__head Отзывы клиентов

            p.b-reviews__lead Возможно они расскажут о нашей работе что-то более важное и близкое вам

            .b-reviews__list
                .b-reviews__item.b-reviews__item_type_video
                    .b-reviews__header
                        a.b-reviews__type(href='#') Видеоотзывы
                    .text-center: a.b-reviews__title(href='#') 1ДСКиКО
                    .b-reviews__content
                        .b-review.b-review_video
                            a.b-review__link(href='http://www.youtube.com/watch?v=opj24KnzrWo'): img.img-responsive(src='http://placehold.it/320x180')
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_mail
                    .b-reviews__header
                        a.b-reviews__type(href='#') Рекомендательные письма
                    .text-center: a.b-reviews__title(href='#') Газелькин
                    .b-reviews__content.b-reviews__content_type_image
                        .b-review.b-review_image
                            a.b-review__link(href='#review_1'): img.img-responsive(src='http://placehold.it/196x264')
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_social
                    .b-reviews__header
                        a.b-reviews__type(href='#') Социальные сети
                        .b-reviews__icon: .b-reviews__social-icon.b-reviews__social-icon_fb
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_social
                    .b-reviews__header
                        a.b-reviews__type(href='#') Социальные сети
                        .b-reviews__icon: .b-reviews__social-icon.b-reviews__social-icon_vk
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_social
                    .b-reviews__header
                        a.b-reviews__type(href='#') Социальные сети
                        .b-reviews__icon: .b-reviews__social-icon.b-reviews__social-icon_tw
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_social
                    .b-reviews__header
                        a.b-reviews__type(href='#') Социальные сети
                        .b-reviews__icon: .b-reviews__social-icon.b-reviews__social-icon_instagram
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_social
                    .b-reviews__header
                        a.b-reviews__type(href='#') Социальные сети
                        .b-reviews__icon: .b-reviews__social-icon.b-reviews__social-icon_ok
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_fl
                    .b-reviews__header
                        a.b-reviews__type(href='#') Fl.ru
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Задание было выполнено! Качество радует! Рекомендую!
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_forums
                    .b-reviews__header
                        a.b-reviews__type(href='#') Форумы
                        .b-reviews__icon: .b-reviews__forum-icon.b-reviews__forum-icon_prcy
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Регулярно заказываем баннеры. Цены, качество, сроки - все отлично :)
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
                .b-reviews__item.b-reviews__item_type_forums
                    .b-reviews__header
                        a.b-reviews__type(href='#') Форумы
                        .b-reviews__icon: .b-reviews__forum-icon.b-reviews__forum-icon_cypr
                    .text-center: a.b-reviews__title(href='#') Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Регулярно заказываем баннеры. Цены, качество, сроки - все отлично :)
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        a.b-reviews__link(href='#') Оригинал отзыва
            .g-loader.g-loader_theme_dark.g-loader_without-gradient
                .g-loader__content
                    a.btn.btn-info.g-loader__link(href='reviews.html') Посмотреть все 232 отзыва
        .b-blog.g-mb50
            h2.b-blog__header Справочник клиента

            .b-blog__list
                - for (var i=0; i<3;++i)
                    a.b-blog__item(href='blog_item.html')
                        p.b-blog__title Яндекс.Баян: пошаговое руководство по настройке рекламной кампании

                        .b-blog__content
                            img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                        .b-blog__text
                            p Один из самых доступных и популярных каналов входящего трафика, который конвертируется на целевых страницах и превращается в лиды или заявки.
                        .row.text-muted
                            .col-xs-6
                                span 16 марта 2015
                            .col-xs-6.text-right
                                span 4 комментария
                    a.b-blog__item(href='blog_item.html')
                        p.b-blog__title Почему 9 из 10 слайдеров не работают и как это исправить?

                        .b-blog__content
                            img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                        .b-blog__text
                            p Оригинальный слайдер картинок. Слайдеры картинок удобно использовать в разделах фотогалерей, на сайтах интернет-магазинов для подробного описания.
                        .row.text-muted
                            .col-xs-6
                                span 15 августа 2013
                            .col-xs-6.text-right
                                span 1 комментарий
                    a.b-blog__item(href='blog_item.html')
                        p.b-blog__title Flash или HTML5: сравнение по 10 критериям

                        .b-blog__content
                            img.img-responsive.b-blog__image(src='assets/img/tmp/akcii.png')
                        .b-blog__text
                            p Начнем с того, что Flash технология переживает кризис уже не первый год. Наверное с 2000х годов время от времени поднимаются вопросы о том, какой Flash не актуальный.
                        .row.text-muted
                            .col-xs-6
                                span 16 марта 2015
                            .col-xs-6.text-right
                                span 16 марта 2015
        .g-loader.g-loader_without-gradient
            .g-loader__content
                a.btn.btn-success.g-loader__link(href='blog.html') Почитать все 15 статей
        .hidden
            #review_1
                .b-review-image
                    .b-review-image__container
                        img(src="http://placehold.it/592x793", alt="")
            #portfolio_1(style='width:1080px;padding:0 40px')
                h1.b-page__title #[a.b-page__link(href="#") Флеш-баннер] для #[a.b-page__link(href="client.html") Exante] “Лучший брокер”

                .b-language-tabs
                    ul.b-language-tabs__list(role="tablist")
                        li.b-language-tabs__item.active(role="presentation"): a.b-language-tabs__link(href='#banner_language_ru', aria-controls="banner_language_ru", role="tab", data-toggle="tab"): span.b-language-tabs__title Русский
                        li.b-language-tabs__item(role="presentation"): a.b-language-tabs__link(href='#banner_language_en', aria-controls="banner_language_en", role="tab", data-toggle="tab"): span.b-language-tabs__title Английский

                .b-portfolio-item
                    .tab-content
                        #banner_language_ru.tab-pane.active(role="tabpanel")
                            ul.b-size-tabs.list-unstyled
                                li.b-size-tabs__item.active(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_240_400', aria-controls="banner_language_ru_size_240_400", role="tab", data-toggle="tab") 240#[span.b-size-tabs__divider x]400
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_100_100', aria-controls="banner_language_ru_size_100_100", role="tab", data-toggle="tab") 100#[span.b-size-tabs__divider x]100
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_200_300', aria-controls="banner_language_ru_size_200_300", role="tab", data-toggle="tab") 1200#[span.b-size-tabs__divider x]300
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_160_600', aria-controls="banner_language_ru_size_160_600", role="tab", data-toggle="tab") 160#[span.b-size-tabs__divider x]600
                            .tab-content
                                #banner_language_ru_size_240_400.tab-pane.active(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/970x90', alt='')
                                #banner_language_ru_size_100_100.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/100x100', alt='')
                                #banner_language_ru_size_200_300.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/1200x300', alt='')
                                #banner_language_ru_size_160_600.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/160x600', alt='')
                        #banner_language_en.tab-pane(role="tabpanel")
                            ul.b-size-tabs.list-unstyled
                                li.b-size-tabs__item.active(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_240_400', aria-controls="banner_language_en_size_240_400", role="tab", data-toggle="tab") 240#[span.b-size-tabs__divider x]400
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_100_100', aria-controls="banner_language_en_size_100_100", role="tab", data-toggle="tab") 100#[span.b-size-tabs__divider x]100
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_200_300', aria-controls="banner_language_en_size_200_300", role="tab", data-toggle="tab") 200#[span.b-size-tabs__divider x]300
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_160_600', aria-controls="banner_language_en_size_160_600", role="tab", data-toggle="tab") 160#[span.b-size-tabs__divider x]600
                            .tab-content
                                #banner_language_en_size_240_400.tab-pane.active(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/970x90', alt='')
                                #banner_language_en_size_100_100.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/100x100', alt='')
                                #banner_language_en_size_200_300.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/200x300', alt='')
                                #banner_language_en_size_160_600.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/160x600', alt='')
                    .b-portfolio-item__lead
                        .row
                            .col-xs-8
                                .b-portfolio-item__info Сфера бизнеса: #[a.b-portfolio-item__link(href='#') Финансы]
                                .b-portfolio-item__info Стиль баннера: #[a.b-portfolio-item__link(href='#') Текстовый]
                            .col-xs-4.text-right
                                .b-portfolio-item__date 2 марта 2016

                                .b-portfolio-item__share.pull-right
                                    script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
                                    script(src="//yastatic.net/share2/share.js")
                                    .ya-share2(data-services="vkontakte,facebook,gplus")
                    .b-portfolio-item__text.b-text
                        p Интерактивный флеш-баннер 240x400 для компании WikiPlanet, которая занимается организацией туров по всей России. Кстати, актуально при нынешнем курсе доллара.
                        p Особенности:
                        ol
                            li Интерактивность. В зависимости от выбора человека предлагаем ему конкретный тур, который соответствует его увлечениям. Например, если выбрана "Рыбалка", то предлагаем ознакомится с возможностью порыбачить на тихоокеанских лососей на базе "Еловка".
                            li При выборе отдыха необязательно кликать по кнопке "Рыбалка", достаточно подержать курсор над ней некоторое время, и баннер сам осуществит переход к следующей сцене. Это сделано для людей, которые опасаются кликать на интерактивные баннеры, т.к. научены горьким опытом обмана "лже-интерактивности".
                            li Глаза человечка на баннере следят за курсором - поводите его туда-сюда по баннеру.
                            li Баннер по итогу весит всего 46 кб, что позволяет его использоваться на большинстве рекламных площадок.
                    .text-center
                        a.btn.btn-success.btn-lg.b-portfolio-item__button(href='#') Заказать похожий баннер

                    .b-portfolio
                        h5.b-portfolio__header Другие баннеры на тему «Финансы»:

                        .b-portfolio__list
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-bosch-rotak.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры

                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство

                                    p.b-portfolio__date 20 апреля 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-electrovenik.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_gif Gif-баннеры

                                    p.b-portfolio__title Длинное название работы
                                    p.b-portfolio__category Строительство

                                    p.b-portfolio__date 5 марта 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-mirta-n-0.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_jpg Jpeg-баннеры

                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Динное название категории

                                    p.b-portfolio__date 10 марта 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x600-adreals.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство
                                    p.b-portfolio__date 20 апреля 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-bosch-rotak.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство
                                    p.b-portfolio__date 20 апреля 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-electrovenik.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_gif Gif-баннеры
                                    p.b-portfolio__title Длинное название работы
                                    p.b-portfolio__category Строительство
                                    p.b-portfolio__date 5 марта 2016

            #portfolio_2(style='width:1080px;padding:0 40px')
                h1.b-page__title #[a.b-page__link(href="#") Флеш-баннер] для #[a.b-page__link(href="client.html") Exante] “Лучший брокер” 2

                .b-language-tabs
                    ul.b-language-tabs__list(role="tablist")
                        li.b-language-tabs__item.active(role="presentation"): a.b-language-tabs__link(href='#banner_language_ru', aria-controls="banner_language_ru", role="tab", data-toggle="tab"): span.b-language-tabs__title Русский
                        li.b-language-tabs__item(role="presentation"): a.b-language-tabs__link(href='#banner_language_en', aria-controls="banner_language_en", role="tab", data-toggle="tab"): span.b-language-tabs__title Английский

                .b-portfolio-item
                    .tab-content
                        #banner_language_ru.tab-pane.active(role="tabpanel")
                            ul.b-size-tabs.list-unstyled
                                li.b-size-tabs__item.active(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_240_400', aria-controls="banner_language_ru_size_240_400", role="tab", data-toggle="tab") 240#[span.b-size-tabs__divider x]400
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_100_100', aria-controls="banner_language_ru_size_100_100", role="tab", data-toggle="tab") 100#[span.b-size-tabs__divider x]100
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_200_300', aria-controls="banner_language_ru_size_200_300", role="tab", data-toggle="tab") 1200#[span.b-size-tabs__divider x]300
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_160_600', aria-controls="banner_language_ru_size_160_600", role="tab", data-toggle="tab") 160#[span.b-size-tabs__divider x]600
                            .tab-content
                                #banner_language_ru_size_240_400.tab-pane.active(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/970x90', alt='')
                                #banner_language_ru_size_100_100.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/100x100', alt='')
                                #banner_language_ru_size_200_300.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/1200x300', alt='')
                                #banner_language_ru_size_160_600.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/160x600', alt='')
                        #banner_language_en.tab-pane(role="tabpanel")
                            ul.b-size-tabs.list-unstyled
                                li.b-size-tabs__item.active(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_240_400', aria-controls="banner_language_en_size_240_400", role="tab", data-toggle="tab") 240#[span.b-size-tabs__divider x]400
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_100_100', aria-controls="banner_language_en_size_100_100", role="tab", data-toggle="tab") 100#[span.b-size-tabs__divider x]100
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_200_300', aria-controls="banner_language_en_size_200_300", role="tab", data-toggle="tab") 200#[span.b-size-tabs__divider x]300
                                li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_en_size_160_600', aria-controls="banner_language_en_size_160_600", role="tab", data-toggle="tab") 160#[span.b-size-tabs__divider x]600
                            .tab-content
                                #banner_language_en_size_240_400.tab-pane.active(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/970x90', alt='')
                                #banner_language_en_size_100_100.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/100x100', alt='')
                                #banner_language_en_size_200_300.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/200x300', alt='')
                                #banner_language_en_size_160_600.tab-pane(role="tabpanel")
                                    .b-portfolio-item__view
                                        img.b-portfolio-item__image.img-responsive(src='http://placehold.it/160x600', alt='')
                    .b-portfolio-item__lead
                        .row
                            .col-xs-8
                                .b-portfolio-item__info Сфера бизнеса: #[a.b-portfolio-item__link(href='#') Финансы]
                                .b-portfolio-item__info Стиль баннера: #[a.b-portfolio-item__link(href='#') Текстовый]
                            .col-xs-4.text-right
                                .b-portfolio-item__date 2 марта 2016

                                .b-portfolio-item__share.pull-right
                                    script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
                                    script(src="//yastatic.net/share2/share.js")
                                    .ya-share2(data-services="vkontakte,facebook,gplus")
                    .b-portfolio-item__text.b-text
                        p Интерактивный флеш-баннер 240x400 для компании WikiPlanet, которая занимается организацией туров по всей России. Кстати, актуально при нынешнем курсе доллара.
                        p Особенности:
                        ol
                            li Интерактивность. В зависимости от выбора человека предлагаем ему конкретный тур, который соответствует его увлечениям. Например, если выбрана "Рыбалка", то предлагаем ознакомится с возможностью порыбачить на тихоокеанских лососей на базе "Еловка".
                            li При выборе отдыха необязательно кликать по кнопке "Рыбалка", достаточно подержать курсор над ней некоторое время, и баннер сам осуществит переход к следующей сцене. Это сделано для людей, которые опасаются кликать на интерактивные баннеры, т.к. научены горьким опытом обмана "лже-интерактивности".
                            li Глаза человечка на баннере следят за курсором - поводите его туда-сюда по баннеру.
                            li Баннер по итогу весит всего 46 кб, что позволяет его использоваться на большинстве рекламных площадок.
                    .text-center
                        a.btn.btn-success.btn-lg.b-portfolio-item__button(href='#') Заказать похожий баннер

                    .b-portfolio
                        h5.b-portfolio__header Другие баннеры на тему «Финансы»:

                        .b-portfolio__list
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-bosch-rotak.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры

                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство

                                    p.b-portfolio__date 20 апреля 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-electrovenik.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_gif Gif-баннеры

                                    p.b-portfolio__title Длинное название работы
                                    p.b-portfolio__category Строительство

                                    p.b-portfolio__date 5 марта 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-mirta-n-0.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_jpg Jpeg-баннеры

                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Динное название категории

                                    p.b-portfolio__date 10 марта 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x600-adreals.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство
                                    p.b-portfolio__date 20 апреля 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-bosch-rotak.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры
                                    p.b-portfolio__title QIVI
                                    p.b-portfolio__category Строительство
                                    p.b-portfolio__date 20 апреля 2016
                            a.b-portfolio__item(href='#')
                                img.b-portfolio__image(src='assets/img/tmp/pr-200x300-electrovenik.jpg')
                                .b-portfolio__content
                                    span.b-portfolio__type.b-portfolio__type_gif Gif-баннеры
                                    p.b-portfolio__title Длинное название работы
                                    p.b-portfolio__category Строительство
                                    p.b-portfolio__date 5 марта 2016
