extends ./layouts/layout.jade

block content
    .b-page
        .container
            .text-center
                a.b-page__back.js-fancybox-video(href='http://www.youtube.com/watch?v=opj24KnzrWo') КАК ЭТО РАБОТАЕТ?
                a.b-page__back.js-fancybox-inline(href='#vacancy_form') СТАТЬ ПАРТНЕРОМ
            h1.b-page__title Все акции

            p.b-page__lead Бонусы от партнеров для наших клиентов

        .b-offers
            .container
                .b-offers__filter.b-offers-filter
                    .b-offers-filter__block.b-offers-filter__block_color_yellow
                        a.b-offers-filter__item.b-offers-filter__item_active(href='#') Все
                    .b-offers-filter__block.b-offers-filter__block_color_red
                        a.b-offers-filter__item(href='#') Эконом
                        a.b-offers-filter__item(href='#') Стандарт
                        a.b-offers-filter__item(href='#') Премиум
                        a.b-offers-filter__item(href='#') Вип

                        .b-offers-filter__title html5 и flash-баннеры
                    .b-offers-filter__block.b-offers-filter__block_color_blue
                        a.b-offers-filter__item(href='#') Мини
                        a.b-offers-filter__item(href='#') Бизнес
                        a.b-offers-filter__item(href='#') Анимация+

                        .b-offers-filter__title gif-баннеры
                    .b-offers-filter__block.b-offers-filter__block_color_green
                        a.b-offers-filter__item(href='#') Смолл
                        a.b-offers-filter__item(href='#') Мидл
                        a.b-offers-filter__item(href='#') Биг

                        .b-offers-filter__title jpg-баннеры
            .b-offers__list
                each i in [1,2,3,4,5,6,7,8,9,10]
                    a.b-offers__item.emerge(href='offer.html', data-effect="relax", data-origin="top", data-expose="true")
                        p.b-offers__title 3 месяца бесплатного использования Jivosite
                        .b-offers__content
                            img.img-responsive.b-offers__image(src='http://placehold.it/500x400')
                            .b-offers__label.b-offers__label_date Действует до #[b 10.06.2016]
                            .b-offers__label.b-offers__label_coupons #[b 15] ПРОМОКОДОВ
                            .b-offers__label.b-offers__label_bonuses БОНУСОВ #[b 2000]#[span.b-offer__rub ₽]
                        .b-offers__text
                            p JivoSite позволяет Вам общаться в чате с посетителями Вашего сайта.
                            p Это увеличивает эффективность сайта, повышая продажи без дополнительных вложений в рекламу.
            script.
                $('.b-offers__item').each(function(){
                    $(this).data('hold', Math.floor(Math.random() * 450) + 50);
                });
        .g-loader
            .g-loader__content
                a.g-loader__button(href='#') #[i.g-loader__button-icon]#[span.g-loader__button-text Загрузить ещё]
        .b-subscribe.b-subscribe_theme_alt
            p.b-subscribe__title Получайте новые акции прямо на почту
            p.b-subscribe__lead Никакого спама или рекламы. Только акции.

            form.form-inline.b-subscribe__form
                .form-group
                    input.form-control.b-subscribe__input(name='email', type='email', placeholder='Введите свой email')
                button.btn.btn-lg.btn-success.b-subscribe__button(type="submit") Подписаться

        .hidden
            .b-modal-form#vacancy_form
                p.b-modal-form__header Стать партнёром

                .b-form.b-modal-form__form
                    form.b-form__form(action="")
                        .form-group
                            label Ссылка на сайт компании
                            input.form-control(type="text")
                        .form-group
                            label Как вас зовут
                            input.form-control(type="text")
                        .form-group
                            label Email для связи
                            input.form-control(type="email")
                        .form-group
                            label Сообщение
                            textarea.form-control.resizable-y(rows="5")
                        .form-group
                            label Файлы
                            p.help-block Презентации, коммерческие предложения, маркетинг-кит
                            .b-form-files
                                .b-form-files__item
                                    .b-form-files__name resum.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete
                                .b-form-files__item
                                    .b-form-files__name resum.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete
                                .b-form-files__item
                                    .b-form-files__name resume_my.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete

                            .b-form-upload.b-form__upload
                                input(type="file", multiple="multiple", name="VacancyResume[files][]", id="VacancyResume_files_0", data-id="VacancyResume_files")
                                span.b-form-upload__label Выберите файлы или перетащите их в эту форму

                        input.btn.btn-success.btn-lg.b-form__button(type="submit", value="Отправить")
