extends ./layouts/layout.jade

block content
    .b-page
        .container
            .b-order-done
                p.b-order-done__title Готово, ваша заявка отправлена!
                p.b-order-done__text Мы внимательно изучим её, а затем свяжемся с вами.
