extends ./layouts/layout.jade

block content
    .b-page
        .b-portfolio-filter.b-portfolio__filter
            span.b-portfolio-filter__head-label
                span ФИЛЬТР ПО ТИПУ БАННЕРОВ
            .b-portfolio-filter__container
                .b-portfolio-filter__inner
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_all.b-portfolio-filter__item_active(href='#')
                        span.b-portfolio-filter__title Все
                        span.b-portfolio-filter__count 985
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_html5(href='#')
                        span.b-portfolio-filter__title HTML5
                        span.b-portfolio-filter__count 128
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_gif(href='#')
                        span.b-portfolio-filter__title GIF
                        span.b-portfolio-filter__count 191
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_jpg(href='#')
                        span.b-portfolio-filter__title JPG
                        span.b-portfolio-filter__count 266

        .b-filter
            a.b-filter__item.b-filter__item_active(href='portfolio_type_1.html'): span.b-filter__title Последние
            a.b-filter__item(href='portfolio_type_2.html'): span.b-filter__title Любимые
            a.b-filter__item.b-filter__item_with-arrow(href='portfolio_type_3.html'): span.b-filter__title По темам
            a.b-filter__item.b-filter__item_with-arrow(href='portfolio_type_4.html'): span.b-filter__title По размерам
            a.b-filter__item.b-filter__item_with-arrow(href='portfolio_type_5.html'): span.b-filter__title По стилям

        .b-portfolio
            h1.b-portfolio__header В портфолио 985 баннеров

            .b-portfolio__list
                - for (var i=0; i<13;++i)
                    a.b-portfolio__item(href='portfolio_item_1_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio1.png')
                        .b-portfolio__content
                            p.b-portfolio__title Самоедлинноеназваниефирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item(href='portfolio_item_2_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title Длинное название фирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_gif GIF
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item(href='portfolio_item_1_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIVI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item(href='portfolio_item_2_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIVI
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
            script.
                $('.b-portfolio__item').each(function(){
                    $(this).data('hold', Math.floor(Math.random() * 450) + 50);
                });

        .g-loader.g-loader_portfolio
            .g-loader__content
                a.g-loader__button(href='#') #[i.g-loader__button-icon]#[span.g-loader__button-text Загрузить ещё]
