extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title #[a.b-page__link(href="#") Флеш-баннер] для #[a.b-page__link(href="#") Exante] “Лучший брокер”

            .b-language-tabs
                ul.b-language-tabs__list(role="tablist")
                    li.b-language-tabs__item.active(role="presentation"): a.b-language-tabs__link(href='#banner_language_ru', aria-controls="banner_language_ru", role="tab", data-toggle="tab"): span.b-language-tabs__title Русский
                    li.b-language-tabs__item(role="presentation"): a.b-language-tabs__link(href='#banner_language_en', aria-controls="banner_language_en", role="tab", data-toggle="tab"): span.b-language-tabs__title Английский

            .tab-content
                #banner_language_ru.tab-pane.active(role="tabpanel")
                    ul.b-size-tabs.list-unstyled
                        li.b-size-tabs__item.active(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_240_400', aria-controls="banner_language_ru_size_240_400", role="tab", data-toggle="tab") 240#[span.b-size-tabs__divider x]400
                        li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_100_100', aria-controls="banner_language_ru_size_100_100", role="tab", data-toggle="tab") 100#[span.b-size-tabs__divider x]100
                        li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_200_300', aria-controls="banner_language_ru_size_200_300", role="tab", data-toggle="tab") 200#[span.b-size-tabs__divider x]300
                        li.b-size-tabs__item(role="presentation"): a.b-size-tabs__link(href='#banner_language_ru_size_160_600', aria-controls="banner_language_ru_size_160_600", role="tab", data-toggle="tab") 160#[span.b-size-tabs__divider x]600
                    .tab-content
                        #banner_language_ru_size_240_400.tab-pane.active(role="tabpanel")
                            .b-portfolio-item
                                .b-portfolio-item__view
                                    img.b-portfolio-item__image.img-responsive(src='http://placehold.it/970x90', alt='')
                        #banner_language_ru_size_100_100.tab-pane(role="tabpanel")


                #banner_language_en.tab-pane(role="tabpanel") en


            .b-portfolio
                h5.b-portfolio__header Последние созданные баннеры

                .b-portfolio-filter.b-portfolio__filter
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_all.b-portfolio-filter__item_active(href='#')
                        span.b-portfolio-filter__title Все
                        span.b-portfolio-filter__count 985
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_html5(href='#')
                        span.b-portfolio-filter__title HTML5
                        span.b-portfolio-filter__count 128
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_gif(href='#')
                        span.b-portfolio-filter__title GIF
                        span.b-portfolio-filter__count 191
                    a.b-portfolio-filter__item.b-portfolio-filter__item_type_jpg(href='#')
                        span.b-portfolio-filter__title JPG
                        span.b-portfolio-filter__count 266

                .b-portfolio__list
                    - for (var i=0; i<12;++i)
                        a.b-portfolio__item(href='#')
                            img.b-portfolio__image(src='assets/img/tmp/pr-200x300-bosch-rotak.jpg')
                            .b-portfolio__content
                                span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры

                                p.b-portfolio__title QIVI
                                p.b-portfolio__category Строительство

                                p.b-portfolio__date 20 апреля 2016
                        a.b-portfolio__item(href='#')
                            img.b-portfolio__image(src='assets/img/tmp/pr-200x300-electrovenik.jpg')
                            .b-portfolio__content
                                span.b-portfolio__type.b-portfolio__type_gif Gif-баннеры

                                p.b-portfolio__title Длинное название работы
                                p.b-portfolio__category Строительство

                                p.b-portfolio__date 5 марта 2016
                        a.b-portfolio__item(href='#')
                            img.b-portfolio__image(src='assets/img/tmp/pr-200x300-mirta-n-0.jpg')
                            .b-portfolio__content
                                span.b-portfolio__type.b-portfolio__type_jpg Jpeg-баннеры

                                p.b-portfolio__title QIVI
                                p.b-portfolio__category Динное название категории

                                p.b-portfolio__date 10 марта 2016
                        a.b-portfolio__item(href='#')
                            img.b-portfolio__image(src='assets/img/tmp/pr-200x600-adreals.jpg')
                            .b-portfolio__content
                                span.b-portfolio__type.b-portfolio__type_html5 Html5-баннеры
                                p.b-portfolio__title QIVI
                                p.b-portfolio__category Строительство
                                p.b-portfolio__date 20 апреля 2016

                a.b-portfolio__button(href='#'): span.b-portfolio__button-text Загрузить ещё

