extends ./layouts/layout.jade

block content
    .b-page
        .container
            div
                .b-filter.swiper-container
                    .swiper-wrapper
                        a.swiper-slide.b-filter__item(href='portfolio_type_1.html'): span.b-filter__title Все
                        a.swiper-slide.b-filter__item(href='#'): span.b-filter__title По типу
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='#'): span.b-filter__title По темам
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='portfolio_type_4.html'): span.b-filter__title По размерам
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow.b-filter__item_active(href='portfolio_type_5.html'): span.b-filter__title По стилям
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='#'): span.b-filter__title По площадкам
            .b-portfolio-tag-outer.swiper-container
                .swiper-wrapper
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_selected.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover, data-tag-color="#161f6a", data-tag-color-hover, href="#") РЕАЛИЗМ
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover="#161f6a", data-tag-color="#161f6a", data-tag-color-hover="#ffffff", href="#") мультипликация
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover, data-tag-color="#161f6a", data-tag-color-hover, href="#") РЕАЛИЗМ
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover="#161f6a", data-tag-color="#161f6a", data-tag-color-hover="#ffffff", href="#") мультипликация
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover, data-tag-color="#161f6a", data-tag-color-hover, href="#") РЕАЛИЗМ
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover="#161f6a", data-tag-color="#161f6a", data-tag-color-hover="#ffffff", href="#") мультипликация
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover, data-tag-color="#161f6a", data-tag-color-hover, href="#") РЕАЛИЗМ
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover="#161f6a", data-tag-color="#161f6a", data-tag-color-hover="#ffffff", href="#") мультипликация
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover, data-tag-color="#161f6a", data-tag-color-hover, href="#") РЕАЛИЗМ
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover="#161f6a", data-tag-color="#161f6a", data-tag-color-hover="#ffffff", href="#") мультипликация
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover, data-tag-color="#161f6a", data-tag-color-hover, href="#") РЕАЛИЗМ
                    a.js-portfolio-tag.b-portfolio-tag.b-portfolio-tag_text.swiper-slide(data-tag-background="#ffffff", data-tag-background-hover="#161f6a", data-tag-color="#161f6a", data-tag-color-hover="#ffffff", href="#") мультипликация

        .b-portfolio
            .container
                h5.b-portfolio__header Баннеры в мультяшном стиле: вектор, flat, иллюстрации

            .b-portfolio__list
                - for (var i=0; i<12;++i)
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio1.png')
                        .b-portfolio__content
                            p.b-portfolio__title Самоедлинноеназваниефирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        //video.b-portfolio__video(autoplay, loop, muted, src="assets/img/video_preview.mp4")
                        .b-portfolio__content
                            p.b-portfolio__title Длинное название фирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_gif GIF
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        span.js-portfolio-video(data-src="assets/img/video_preview.mp4")
                        //video.b-portfolio__video(autoplay, loop, muted, src="assets/img/video_preview.mp4")
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.b-portfolio__item_width_2.emerge(href='#portfolio_2', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='//placehold.it/428x204')
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_video ВИДЕО
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.b-portfolio__item_width_2.b-portfolio__item_height_2.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='//placehold.it/428x428')
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_story СТОРИС
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item.emerge(href='#portfolio_1', rel='portfolio', data-effect="zoom", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
            script.
                $('.b-portfolio__item').each(function(){
                    $(this).data('hold', Math.floor(Math.random() * 400) + 50);
                });

        .g-loader.g-loader_portfolio
            .g-loader__content
                a.g-loader__button(href='#') #[i.g-loader__button-icon]#[span.g-loader__button-text Загрузить ещё]
