extends ./layouts/layout.jade

block content
    .b-page
        .container
            .b-portfolio-filter.b-portfolio__filter
                span.b-portfolio-filter__head-label
                    span ФИЛЬТР ПО ТИПУ БАННЕРОВ
                .b-portfolio-filter__container
                    .b-portfolio-filter__inner
                        a.b-portfolio-filter__item.b-portfolio-filter__item_type_all.b-portfolio-filter__item_active(href='#')
                            span.b-portfolio-filter__title Все
                            span.b-portfolio-filter__count 985
                        a.b-portfolio-filter__item.b-portfolio-filter__item_type_html5(href='#')
                            span.b-portfolio-filter__title HTML5
                            span.b-portfolio-filter__count 128
                        a.b-portfolio-filter__item.b-portfolio-filter__item_type_gif(href='#')
                            span.b-portfolio-filter__title GIF
                            span.b-portfolio-filter__count 191
                        a.b-portfolio-filter__item.b-portfolio-filter__item_type_jpg(href='#')
                            span.b-portfolio-filter__title JPG
                            span.b-portfolio-filter__count 266

            div
                .b-filter.swiper-container
                    .swiper-wrapper
                        a.swiper-slide.b-filter__item.b-filter__item_active(href='portfolio_type_1.html'): span.b-filter__title Все
                        a.swiper-slide.b-filter__item(href='#'): span.b-filter__title По типу
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='#'): span.b-filter__title По темам
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='portfolio_type_4.html'): span.b-filter__title По размерам
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='portfolio_type_5.html'): span.b-filter__title По стилям
                        a.swiper-slide.b-filter__item.b-filter__item_with-arrow(href='#'): span.b-filter__title По площадкам

        .b-portfolio
            .container
                h1.b-portfolio__header В портфолио 985 баннеров

            .b-portfolio__list
                - for (var i=0; i<13;++i)
                    a.b-portfolio__item(href='portfolio_item_1_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio1.png')
                        span.js-portfolio-video(data-src="https://tolkunov.com/uploads/portfolio/f5f0809df0597441ce2763309b4eb66e.mp4")
                        .b-portfolio__content
                            p.b-portfolio__title Самоедлинноеназваниефирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type HTML5
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item(href='portfolio_item_2_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title Длинное название фирмы
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type GIF
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item(href='portfolio_item_1_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio3.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Динное название категории
                        span.b-portfolio__type.b-portfolio__type_jpg JPG
                        span.b-portfolio__like
                        p.b-portfolio__date 10.02.2010
                    a.b-portfolio__item(href='portfolio_item_2_ajax.html', rel='portfolio', data-effect="relax", data-origin="bottom", data-expose="true")
                        img.b-portfolio__image(src='assets/img/tmp/portfolio2.png')
                        .b-portfolio__content
                            p.b-portfolio__title QIWI
                            p.b-portfolio__category Строительство
                        span.b-portfolio__type.b-portfolio__type_html5 HTML5
                        p.b-portfolio__date 10.02.2010
            script.
                $('.b-portfolio__item').each(function(){
                    $(this).data('hold', Math.floor(Math.random() * 450) + 50);
                });

        .g-loader.g-loader_portfolio
            .g-loader__content
                a.g-loader__button.g-loader__button_state_loading(href='#')
                    .g-loader__button-icon
                    span.g-loader__button-text Загрузить ещё
