extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title 180 отзывов от клиентов

            .b-reviews
                div
                    .b-reviews-filter.b-reviews__filter.swiper-container
                        .swiper-wrapper
                            a.b-reviews-filter__item.b-reviews-filter__item_type_all.b-reviews-filter__item_active.swiper-slide(href='#')
                                span.b-reviews-filter__title Все
                                span.b-reviews-filter__count 985
                            a.b-reviews-filter__item.b-reviews-filter__item_type_video.swiper-slide(href='#')
                                span.b-reviews-filter__title Видеоотзывы
                                span.b-reviews-filter__count 422
                            a.b-reviews-filter__item.b-reviews-filter__item_type_mail.swiper-slide(href='#')
                                span.b-reviews-filter__title Рекомендации
                                span.b-reviews-filter__count 191
                            a.b-reviews-filter__item.b-reviews-filter__item_type_social.swiper-slide(href='#')
                                span.b-reviews-filter__title Соцсети
                                span.b-reviews-filter__count 128
                            a.b-reviews-filter__item.b-reviews-filter__item_type_fl.swiper-slide(href='#')
                                span.b-reviews-filter__title FL
                                span.b-reviews-filter__count 266
                            a.b-reviews-filter__item.b-reviews-filter__item_type_forums.swiper-slide(href='#')
                                span.b-reviews-filter__title Форумы
                                span.b-reviews-filter__count 422

        .b-reviews__container
            .b-reviews__list
                a.b-reviews__item.emerge.b-reviews__item_type_video(data-effect="relax", data-origin="top", data-expose="true", href='review_ajax.html', rel='reviews')
                    .b-reviews__gutter
                    .b-reviews__header
                        .text-center: span.b-reviews__title 1ДСКиКО
                    .b-reviews__content
                        .b-reviews__media_video
                            .b-reviews__link(href='http://www.youtube.com/watch?v=opj24KnzrWo'): img.img-responsive(src='https://via.placeholder.com/320x180')
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Видеоотзывы
                a.b-reviews__item.emerge.b-reviews__item_type_mail(data-effect="relax", data-origin="top", data-expose="true", href='review_ajax.html', rel='reviews')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Газелькин
                    .b-reviews__content.b-reviews__content_type_image
                        .b-reviews__media_image
                            .b-reviews__link(href='#review_1', data-url="https://via.placeholder.com/196x264"): img.img-responsive(src='https://via.placeholder.com/196x264')
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Рекомендации
                a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Социальные сети
                a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Социальные сети
                a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Социальные сети
                a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Социальные сети
                a.b-reviews__item.emerge.b-reviews__item_type_social(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Являюсь постоянным клиентом вот уже несколько лет. По моему заказу сделано уже больше двух десятков различных баннеров, шапок для сайтов, фонов, кнопок и т.д. Легко находим общий язык и видение по очередному заказу. Всегда идет на встречу по любым доработкам и изменениям. Качество на высоте. Очень доволен сотрудничеством, всем рекомендую.
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Социальные сети
                a.b-reviews__item.emerge.b-reviews__item_type_fl(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Задание было выполнено! Качество радует! Рекомендую!
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Fl.ru
                a.b-reviews__item.emerge.b-reviews__item_type_forums(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Регулярно заказываем баннеры. Цены, качество, сроки - все отлично :)
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Форумы
                a.b-reviews__item.emerge.b-reviews__item_type_forums(data-effect="relax", data-origin="top", data-expose="true", href='review.html')
                    .b-reviews__header
                        .text-center: span.b-reviews__title Exante
                    .b-reviews__content.b-reviews__content_type_text
                        p Регулярно заказываем баннеры. Цены, качество, сроки - все отлично :)
                    .b-reviews__footer
                        span.b-reviews__date 22.06.2016
                        span.b-reviews__type Форумы
            script.
                $('.b-reviews__item').each(function () {
                    $(this).data('hold', Math.floor(Math.random() * 450) + 50);
                });
            .g-loader.g-loader_theme_dark.g-loader_reviews.hidden
                .g-loader__content
                    a.g-loader__button.g-loader__button_state_loading(href='#') #[i.g-loader__button-icon]#[span.g-loader__button-text Загрузить ещё]
        .hidden
            #review_1
                .b-review-image
                    .b-review-image__container
                        img(src="https://via.placeholder.com/519x731", alt="")
