extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title Работа у нас

            .b-vacancies-features
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 1

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 2

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 3

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 4

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
            .b-slider
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')

            h2.b-page__title Актуальные вакансии

        .b-vacancies
            .container
                .b-vacancies__list
                    a.b-vacancies__item(href='vacancy.html')
                        p.b-vacancies__title Web-дизайнер

                        img.img-responsive.b-vacancies__image(src='http://placehold.it/900x360')
                    a.b-vacancies__item(href='vacancy.html')
                        p.b-vacancies__title Бухгалтер

                        img.img-responsive.b-vacancies__image(src='http://placehold.it/900x360')

        .hidden
            .b-modal-form#vacancy_form
                p.b-modal-form__header Отправка резюме

                .b-form.b-modal-form__form
                    form.b-form__form(action="")
                        .form-group
                            label Ваше имя
                            input.form-control(type="text")
                        .form-group
                            label Номер телефона
                            input.form-control(type="text")
                        .form-group
                            label Email
                            input.form-control(type="email")
                        .form-group
                            label Файлы
                            p.help-block Резюме, портфолио, сертификаты
                            .b-form-files
                                .b-form-files__item
                                    .b-form-files__name resum.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete
                                .b-form-files__item
                                    .b-form-files__name resum.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete
                                .b-form-files__item
                                    .b-form-files__name resume_my.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete

                            .b-form-upload.b-form__upload
                                input(type="file", multiple="multiple", name="VacancyResume[files][]", id="VacancyResume_files_0", data-id="VacancyResume_files")
                                span.b-form-upload__label Выберите файлы или перетащите их в эту форму

                        input.btn.btn-success.btn-lg.b-form__button(type="submit", value="Отправить")
                        br
                        a.b-form__link(href='#') Соглашение о конфиденциальности
