extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title Работа у нас

            .b-vacancies-features
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 1

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 2

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 3

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='http://placehold.it/200x200')

                    p.b-vacancies-features__title Позаголовок 4

                    p.b-vacancies-features__text Описание сути преимущества работы у нас в студии 1
            .b-slider
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x350')

            h2.b-page__title Актуальные вакансии

        .b-vacancies
            .container
                .b-vacancies__list
                    .b-vacancies__item
                        .text-center
                            a.b-vacancies__title(href='#') Web-дизайнер

                        img.img-responsive.b-vacancies__image(src='http://placehold.it/900x360')

                        .b-vacancies__content
                            .b-vacancies__text
                                h3 Что нужно будет делать:
                                p
                                    | — Разрабатывать баннеры для интернет-рекламы (html5, flash, gif, jpg);
                                    br
                                    | — Создавать макеты landing page, а также полноценных сайтов;
                                    br
                                    | — Разрабатывать оформление для групп в социальных сетях;
                                    br
                                    | — Готовить макеты полиграфический продукции.
                            .b-vacancies__text
                                h3 Что для нас важно:
                                p
                                    | — Понимание современных трендов в web и графическом дизайне;
                                    br
                                    | — Отличное знание Adobe Photoshop;
                                    br
                                    | — Наличие портфолио;
                                    br
                                    | — Внимание к деталям, хороший вкус, скорость работы, перфекционизм;
                                    br
                                    | — Умение разрабатывать крутую анимацию;
                                    br
                                    | — Желание обучаться новому.
                        .text-center
                            a.btn.btn-info.btn-lg.b-vacancies__button(href='#') Отправить резюме
                    .b-vacancies__item.b-vacancies__item_collapsed
                        .text-center
                            a.b-vacancies__title(href='#') Бухгалтер

                        img.img-responsive.b-vacancies__image(src='http://placehold.it/900x360')

                        .b-vacancies__content
                            .b-vacancies__text
                                h3 Что нужно будет делать:
                                p
                                    | — Разрабатывать баннеры для интернет-рекламы (html5, flash, gif, jpg);
                                    br
                                    | — Создавать макеты landing page, а также полноценных сайтов;
                                    br
                                    | — Разрабатывать оформление для групп в социальных сетях;
                                    br
                                    | — Готовить макеты полиграфический продукции.
                            .b-vacancies__text
                                h3 Что для нас важно:
                                p
                                    | — Понимание современных трендов в web и графическом дизайне;
                                    br
                                    | — Отличное знание Adobe Photoshop;
                                    br
                                    | — Наличие портфолио;
                                    br
                                    | — Внимание к деталям, хороший вкус, скорость работы, перфекционизм;
                                    br
                                    | — Умение разрабатывать крутую анимацию;
                                    br
                                    | — Желание обучаться новому.
                        .text-center
                            a.btn.btn-info.btn-lg.b-vacancies__button(href='#') Отправить резюме
