extends ./layouts/layout.jade

block content
    .b-page
        .container
            h1.b-page__title Работа у нас

            .b-vacancies-features
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='assets/img/vacancy/1.png')

                    p.b-vacancies-features__title Дружная команда

                    p.b-vacancies-features__text Общаемся и работаем с улыбкой. Поддерживаем друг друга в сложных ситуациях.
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='assets/img/vacancy/2.png')

                    p.b-vacancies-features__title Достойное вознаграждение

                    p.b-vacancies-features__text Зарабатываем столько, сколько приносим пользы. Нет потолка зарплаты.
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='assets/img/vacancy/3.png')

                    p.b-vacancies-features__title Интересные задачи

                    p.b-vacancies-features__text Делаем то, что нравится. То, чем можно гордиться.
                .b-vacancies-features__item
                    img.img-responsive.b-vacancies-features__image(src='assets/img/vacancy/4.png')

                    p.b-vacancies-features__title Обучение и развитие

                    p.b-vacancies-features__text Учимся новому, делимся опытом между собой.
            .b-slider
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x450')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x450')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x450')
                .b-slider__item
                    img.img-responsive(src='http://placehold.it/1000x450')

            .b-text.g-mb60
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan vitae nunc ac eleifend. Duis faucibus sollicitudin condimentum. Ut viverra placerat luctus. Nam vulputate egestas ex nec blandit. Integer feugiat nisi id mauris commodo lacinia. Aliquam erat volutpat. Donec dui turpis, condimentum eu ante et, porttitor malesuada erat. Morbi imperdiet diam id consectetur hendrerit. Ut id ullamcorper libero. Integer porttitor iaculis elit, nec condimentum neque accumsan et. Maecenas quam lacus, mattis id tellus eget, porta aliquam tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras laoreet nunc felis, id fringilla risus auctor non. Fusce nec ornare eros. Mauris malesuada urna orci, in tincidunt tortor auctor sit amet.
                p Sed quis lacinia risus, a ullamcorper metus. Aliquam mollis imperdiet augue, non suscipit purus blandit vel. Aenean at sagittis mi. Curabitur finibus nisl non pharetra aliquam. Nulla semper leo et nibh faucibus gravida. Ut et mi lorem. Pellentesque cursus vitae ex id fringilla. Vivamus tristique odio in aliquet laoreet. Proin ac diam eget est ullamcorper mollis a porttitor sapien. Nulla elementum dui felis, vitae feugiat est semper in.

            h2.b-page__title Актуальные вакансии

        .b-vacancies
            .container
                .b-vacancies__list
                    a.b-vacancies__item(href='vacancy.html')
                        p.b-vacancies__title Web-дизайнер

                        img.img-responsive.b-vacancies__image(src='http://placehold.it/900x360')
                    a.b-vacancies__item(href='vacancy.html')
                        p.b-vacancies__title Бухгалтер

                        img.img-responsive.b-vacancies__image(src='http://placehold.it/900x360')

        .hidden
            .b-modal-form#vacancy_form
                p.b-modal-form__header Отправка резюме

                .b-form.b-modal-form__form
                    form.b-form__form(action="")
                        .form-group
                            label Ваше имя
                            input.form-control(type="text")
                        .form-group
                            label Номер телефона
                            input.form-control(type="text")
                        .form-group
                            label Email
                            input.form-control(type="email")
                        .form-group
                            label Файлы
                            p.help-block Резюме, портфолио, сертификаты
                            .b-form-files
                                .b-form-files__item
                                    .b-form-files__name resum.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete
                                .b-form-files__item
                                    .b-form-files__name resum.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete
                                .b-form-files__item
                                    .b-form-files__name resume_my.doc
                                    .b-form-files__size 6.12 мб
                                    .b-form-files__delete

                            .b-form-upload.b-form__upload
                                input(type="file", multiple="multiple", name="VacancyResume[files][]", id="VacancyResume_files_0", data-id="VacancyResume_files")
                                span.b-form-upload__label Выберите файлы или перетащите их в эту форму

                        input.btn.btn-success.btn-lg.b-form__button(type="submit", value="Отправить")
                        br
                        a.b-form__link(href='#') Соглашение о конфиденциальности
