@import "variables.less";
@import "mixins";
@import "mymixins";

.b-reviews {

}

.b-reviews__filter {
	margin: -20px 30px 95px;

	@media (max-width: @screen-xs-max) {
		.responsive-invisibility();
	}
}

.b-reviews__container {
	background: #f5f6fa;
	padding: 113px 0 50px;

	margin-top: 20px;

	@media (min-width: @screen-sm-min) {
		margin-top: 0;
	}
}

.b-reviews__list {
	margin: 0 auto;
}

.b-reviews__item {
	width: 320px;
	margin-bottom: 45px;
	float: left;

	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 8px 48px rgba(76, 83, 112, .1);
}

.b-reviews__header {
	text-align: center;
	margin-top: 15px;
}

.b-reviews__type {
	display: inline-block;
	font-size: 12px;
	line-height: 25px;
	color: #d9dbe6;
	font-weight: bold;
	//padding: 0 12px;
	text-transform: uppercase;
	letter-spacing: .1em;
	cursor: default;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #d9dbe6;
	}
}

.b-reviews__title {
	color: #9ba1b6;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 2px solid #f5f6fa;

	display: inline-block;
	margin: 10px 10px 22px;
	padding-bottom: 4px;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #4c5370;
		border-bottom-color: #d9dbe6;
	}
}

.b-reviews__content {

}

.b-reviews__content_type_text {
	color: #9ba1b6;
	padding: 0 20px 3px;
}

.b-reviews__footer {
	.clearfix();
	padding: 20px 20px 20px;
}

.b-reviews__date {
	float: left;
	color: #9ba1b6;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: .1em;
}

.b-reviews__link {
	float: right;
	.my-default-link();
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: .1em;
}

.b-reviews__icon {
	//background: #f4f4f4;
	display: none;
	//display: inline-block;
	vertical-align: top;
}

/* Social icons */
.b-reviews__social-icon {
	width: 25px !important;
	height: 25px !important;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-image: url("../../assets/img/social-icons.png");
}

.b-reviews__social-icon_fb {
	background-position: -75px 0;
}

.b-reviews__social-icon_vk {
	background-position: -100px 0;
}

.b-reviews__social-icon_tw {
	background-position: -50px 0;
}

.b-reviews__social-icon_instagram {
	background-position: -25px 0;
}

.b-reviews__social-icon_ok {
	background-position: 0 0;
}

/* Forum icons */
.b-reviews__forum-icon {
	width: 25px !important;
	height: 25px !important;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-image: url("../../assets/img/forum-icons.png");
}

.b-reviews__forum-icon_prcy {
	background-position: 0 0;
}

.b-reviews__forum-icon_cypr {
	background-position: -25px 0;
}

.b-reviews__head {
	.my-heading-h1();

	font-weight: bold;
	margin-top: 0;
	margin-bottom: 45px;
	text-align: center;
}

.b-reviews__lead {
	.my-heading-lead();

	margin: 0 15px 100px;
	text-align: center;
}
