@import "variables.less";
@import "mixins";
@import "mymixins";

.b-reviews {
    overflow: hidden;
    margin-top: -10px;
}

.b-reviews__filter {
    margin: -10px 0 95px;
}

.b-reviews__container {
    background: @body-muted-bg;
    padding: 113px 0 50px;

    margin-top: 20px;

    @media (min-width: @screen-sm-min) {
        margin-top: 0;
    }
}

.b-reviews__container_background_white {
    background: #fff;
}

.b-reviews__container_faded {
    overflow: hidden;
    padding-bottom: 0;
}

.b-reviews__list {
    margin: 0 5px;

    @media (min-width: 1090px) {
        width: 320px * 3 + 45px * 2;
        margin: 0 auto;
    }

    @media (min-width: 1495px) {
        width: 320px * 4 + 45px * 3;
    }

    @media (min-width: 1860px) {
        width: 320px * 5 + 45px * 4;
    }

    @media (min-width: 2225px) {
        width: 320px * 6 + 45px * 5;
    }
}

.b-reviews__list_faded {
    max-height: 3000px;

    @media (min-width: @screen-sm-min) {
        max-height: 2500px;
    }

    @media (min-width: @screen-md-min) {
        max-height: 2000px;
    }

    @media (min-width: @screen-lg-min) {
        max-height: 1500px;
    }
}

.b-reviews__gutter {
    width: 20px;

    @media (min-width: 1090px) {
        width: 45px;
    }
}

.b-reviews__item {
    display: inline-block;
    cursor: pointer;

    margin: 0 10px;
    width: ~"calc(100% - 20px)";

    @media (min-width: @screen-sm-min) {
        width: ~"calc(100% / 2 - 20px)";
    }

    @media (min-width: @screen-lg-min) {
        width: ~"calc(100% / 3 - 20px)";
    }

    @media (min-width: 1090px) {
        width: 320px;
        margin: 0;
    }

    float: left;

    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 20px 30px fade(#161f6a, 5%);

    transition: opacity 200ms ease-out, transform 200ms cubic-bezier(0, 0, 0.001, 1);
    opacity: 0;
    transform: scale(.95);

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: inherit;
        transform: translate(0, -8px) !important;
    }
}

.b-reviews__item_loaded {
    opacity: 1;
    transform: scale(1);
}

.b-reviews__header {
    text-align: center;
    margin-top: 15px;
}

.b-reviews__type {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #161f6a;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .12em;
    cursor: default;
    float: right;

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: #161f6a;
    }
}

.b-reviews__title {
    color: @block-link-color;
    font-size: 24px;
    font-weight: 800;

    display: inline-block;
    margin: 10px 10px 22px;
    padding-bottom: 4px;
}

.b-reviews__content {

}

.b-reviews__content_type_text {
    color: #161f6a;
    padding: 0 20px 3px;

    font-size: 22px;
    line-height: 1.2;
}

.b-reviews__footer {
    .clearfix();
    padding: 20px 20px 20px;
}

.b-reviews__date {
    float: left;
    color: #161f6a;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .12em;
}

.b-reviews__head {
    .my-heading-h2();

    font-weight: 800;
    margin-top: 0;
    margin-bottom: 45px;
}

.b-reviews__head_small {
    .my-heading-h2();
    text-align: center;

    @media (min-width: @screen-xl-min) {
        margin-bottom: 65px;
    }
}

.b-reviews__lead {
    text-align: center;
    .my-heading-lead();
    margin-bottom: 50px;

    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-md-min) {
        margin-bottom: 80px;
        width: 530px;
    }
    @media (min-width: @screen-lg-min) {
        margin-bottom: 100px;
        width: 550px;
    }
    @media (min-width: @screen-xl-min) {
        margin-bottom: 100px;
        width: 600px;
    }
}

.b-reviews__link {
    position: relative;
    display: block;

    &:after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 42px;

        border-radius: 50%;
        transition: all .05s ease-out;
    }
}

@reviews-image-top-left-width: 32px; //64px;
@reviews-image-top-right-width: 56px; //113px;
@reviews-image-top-height: 35px; //71px;

@reviews-image-bottom-left-width: 32px; //64px;
@reviews-image-bottom-right-width: 56px; //113px;
@reviews-image-bottom-height: 60px; //120px;

.b-reviews__media_image-top {
    height: @reviews-image-top-height;
    position: relative;
    margin: 0 @reviews-image-top-right-width 0 @reviews-image-top-left-width;
    background: left top no-repeat url("../../assets/img/reviews-list-type-mail-top-center.png");
    background-size: 101% @reviews-image-top-height;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        height: @reviews-image-top-height;
    }

    &:before {
        left: -@reviews-image-top-left-width;
        width: @reviews-image-top-left-width;

        background: left top no-repeat url("../../assets/img/reviews-list-type-mail-top-left.png");
        background-size: @reviews-image-top-left-width @reviews-image-top-height;
    }

    &:after {
        right: -@reviews-image-top-right-width;
        width: @reviews-image-top-right-width;

        background: left top no-repeat url("../../assets/img/reviews-list-type-mail-top-right.png");
        background-size: @reviews-image-top-right-width @reviews-image-top-height;
    }
}

.b-reviews__media_image-bottom {
    height: @reviews-image-bottom-height;
    position: relative;
    margin: -1px @reviews-image-bottom-right-width 0 @reviews-image-bottom-left-width;
    background: left top no-repeat url("../../assets/img/reviews-list-type-mail-bottom-center.png");
    background-size: 101% @reviews-image-bottom-height;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        height: @reviews-image-bottom-height;
    }

    &:before {
        left: -@reviews-image-bottom-left-width;
        width: @reviews-image-bottom-left-width;

        background: left top no-repeat url("../../assets/img/reviews-list-type-mail-bottom-left.png");
        background-size: @reviews-image-bottom-left-width @reviews-image-bottom-height;
    }

    &:after {
        right: -@reviews-image-bottom-right-width;
        width: @reviews-image-bottom-right-width;

        background: left top no-repeat url("../../assets/img/reviews-list-type-mail-bottom-right.png");
        background-size: @reviews-image-bottom-right-width @reviews-image-bottom-height;
    }
}

.b-reviews__media_image {
    position: relative;
    margin: 0 8px 0 32px;

    &:before, &:after {
        content: '';

        position: absolute;
        top: @reviews-image-top-height;
        bottom: @reviews-image-bottom-height;
    }

    &:before {
        left: 0;
        width: @reviews-image-top-left-width;

        background: left top no-repeat url("../../assets/img/reviews-list-type-mail-center-left.png");
        background-size: @reviews-image-top-left-width 101%;
    }

    &:after {
        right: 0;
        width: @reviews-image-top-right-width;

        background: left top no-repeat url("../../assets/img/reviews-list-type-mail-center-right.png");
        background-size: @reviews-image-top-right-width 101%;
    }

    @media (min-width: 568px) and (max-width: 720px) {
        margin: 0 2px 0 26px;
    }

    .b-reviews__link {
        margin-left: @reviews-image-top-left-width;
        margin-right: @reviews-image-top-right-width;

        &:after {
            background: #2856f6 center center no-repeat url("../../assets/img/zoom.svg");
            background-size: 14px;
            box-shadow: 0 8px 48px rgba(0, 143, 203, .4);
        }
    }
}

.b-reviews__media_image-image {
    width: 100%;
}

.b-reviews__media_video {
    .b-reviews__link {
        &:after {
            background: #e74c3c center center no-repeat url("../../assets/img/play.svg");
            background-size: 13px 15px;
            box-shadow: 0 8px 48px rgba(231, 76, 60, .8);
        }
    }
}
