@import "variables.less";
@import "mixins";
@import "mymixins";

.b-size-filter {
	background: @body-muted-bg;
	margin: -29px auto 100px;
	border-radius: 10px;
}

.b-size-filter__item {
	font-size: 12px;
	line-height: 36px;
	height: 36px;
	color: @block-link-color;
	background: #fff;
	box-shadow: 0 20px 30px fade(#161f6a, 5%);
	font-weight: bold;
	letter-spacing: .1em;
	display: inline-block;
	border-radius: 5px;
	padding: 0 25px/2 0 13px;
	margin: 15px/2;
	transition: all .2s;

	&:before {
		content: '#';
		font-size: 15px;
		color: fade(#161f6a, 20%);
		margin-right: 10px;
		transition: all .2s;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #ffffff;
		background: #161f6a;

		&:before {
			color: fade(#ffffff, 20%);
		}
	}
}

.b-size-filter__divider {
	margin-left: 3px;
	margin-right: 5px;
	text-transform: uppercase;
}

.b-size-filter__item_active {
	background: #161f6a !important;
	color: #fff !important;

	&:before {
		color: fade(#ffffff, 20%);
	}
}

.b-size-filter__list {
	position: relative;
	overflow: hidden;
	transition: all .2s;

	padding: (40px - 15px/2) 10px 67px;

	@media (min-width: @grid-float-breakpoint) {
		padding-left: 40px;
		padding-right: 40px;
	}

	&:after {
		content: '';

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		height: 76px;
		background: linear-gradient(to top, rgba(245, 246, 250, 1) 0%, rgba(245, 246, 250, 1) 67%, rgba(245, 246, 250, 0) 100%);
	}
}

.b-size-filter__list_collapsed {
	max-height: (((36px + 15px) * 3) + 19px + (40px - 15px/2)) !important;
	padding-bottom: 19px;
}

.b-size-filter__toggle {
	margin-top: -58px;
	display: block;
	position: relative;

	padding-bottom: 20px;
	text-align: center;
}

.b-size-filter__toggle-text {
	font-weight: bold;
	font-size: 15px;
	line-height: 1.4;
	color: @block-link-color;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 2px dotted @block-link-border-color;
	display: inline-block;
	margin-top: 15px;
	transition: all .2s;

	&:hover, &:active, &:focus {
		color: @block-link-hover-color;
		border-bottom-color: @block-link-hover-border-color;
		text-decoration: none;
	}
}
