@import "variables.less";
@import "mixins";
@import "mymixins";

.b-size-filter {
	background: #f5f6fa;
	text-align: center;
	padding: 40px 0 25px;
	margin : -29px 0 100px;
	border-radius: 10px;
}

.b-size-filter__item {
	font-size: 12px;
	line-height: 32px;
	color: #4c5370;
	font-weight: bold;
	letter-spacing: .1em;
	display: inline-block;
	border: 2px dashed #d9dbe6;
	border-radius: 5px;
	padding: 0 11px;
	margin: 4px 5px;

	&:before {
		content: '#';
		font-size: 15px;
		color: #d9dbe6;
		margin-right: 10px;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #4c5370;
		//border: 2px solid #fff;
		background: #fff;
		//box-shadow: 1.5px 1.5px 32px rgba(0, 0, 0, .1);
	}
}

.b-size-filter__divider {
	margin-left: 3px;
	margin-right: 5px;
	text-transform: uppercase;
}

.b-size-filter__item_active {
	border: 2px solid #4c5370 !important;
	background: #4c5370 !important;
	color: #fff !important;

	&:before {
		color: #9ba1b6;
	}
}

.b-size-filter__list {
	overflow: hidden;
}

.b-size-filter__list_collapsed {
	max-height: (37px + 8px) * 2;
}

.b-size-filter__toggle {
	.my-heading-h3();
	color: @text-color;
	text-decoration: none;
	border-bottom: 2px dotted rgba(37, 37, 37, .05);
	display: inline-block;
	margin-top: 5px;

	&:hover, &:active, &:focus {
		color: #9b59b6;
		border-bottom-color: #9b59b6;
		text-decoration: none;
	}
}
