@import "variables.less";
@import "mixins";

.b-clients {
	background: #f5f9fc;
	margin-top: 50px;
	padding-bottom: 40px;
}

.b-clients__list {
	padding: 40px 20px 0;

	.clearfix();
}

.b-clients__item {
	background: #ffffff;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, .05);
	margin: 20px;
	width: 200px;
	float: left;

	padding: 20px 0 16px;

	text-align: center;
	color: @text-color;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #1abc9c;

		.b-clients__title {
			border-bottom-color: #1abc9c;
		}

		.b-clients__image:not(.b-clients__image_empty) {
			filter: grayscale(1);
		}
	}

	position: relative;

	&:after {
		position: absolute;
		width: 15px;
		top: 0;
		right: 10px;
		bottom: 0;
		background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2));
		content: '';
	}
}

.b-clients__title {
	font-size: 24px;
	font-weight: bold;
	border-bottom: 2px solid rgba(37, 37, 37, .05);
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	//text-overflow: ellipsis;
	max-width: 180px;
	margin: 0 10px;
}

.b-clients__content {
	height: 40px;
	margin-top: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.b-clients__image {
}
