@import "variables.less";
@import "mixins";
@import "mymixins";

.b-clients {
	background: @body-muted-bg;
	margin-top: 20px;
	padding-bottom: 40px;

	@media (min-width: @grid-float-breakpoint) {
		margin-top: 50px;
	}
}

.b-clients__list {
	padding: 85px 20px 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.b-clients__list_faded {
	@count: 4;

	max-height: 85px + (168px + 20px) * @count;
	overflow: hidden;

	@media (min-width: @screen-md-min) {
		max-height: 85px + (168px + 40px) * @count;
	}
}

.b-clients__item {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 8px 48px fade(#161f6a, 10%);
	margin: 10px;
	min-width: 150px;
	overflow: hidden;

	flex-basis: ~"calc(50% - 20px)";

	@media (min-width: @screen-md-min) {
		margin: 20px;
		flex-basis: ~"calc(100% / 3 - 40px)";
	}

	@media (min-width: @screen-lg-min) {
		flex-basis: ~"calc(100% / 4 - 40px)";
	}

	@media (min-width: @screen-xl-min) {
		flex-basis: 200px;
	}

	padding: 22px 10px 30px;

	text-align: center;
	color: @text-color;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #1abc9c;

		.b-clients__title {
			color: @block-link-hover-color;
			border-bottom-color: @block-link-hover-border-color;
		}

		.b-clients__image {
			filter: none;
		}
	}

	position: relative;

	&:after {
		position: absolute;
		width: 25px;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, .2));
		content: '';
	}

	transition: opacity 500ms ease-out, transform 500ms cubic-bezier(0, 0, 0.001, 1);
	opacity: 0;
	transform: scaleY(.92);
}

.b-clients__item_loaded {
	opacity: 1;
	transform: scaleY(1);
}

.b-clients__title {
	color: @block-link-color;
	font-size: 20px;
	line-height: 34px;
	font-weight: bold;
	border-bottom: 2px solid @block-link-border-color;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	//margin: 0 10px;

	transition: all .2s;
}

.b-clients__content {
	height: 50px;
	margin: 26px auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 150px;
}

.b-clients__image {
	max-height: 50px !important;
	//max-width: 150px !important;
	max-width: 100%;
}

.b-clients__image:not(.b-clients__image_empty) {
	filter: grayscale(1);
}

/* Clients on splash page */
.b-clients__container {
	background: @body-muted-bg;
	padding: 113px 0 50px;

	margin-top: 20px;

	@media (min-width: @screen-sm-min) {
		margin-top: 0;
	}
}

.b-clients__head {
	.my-heading-h2();

	font-weight: bold;
	margin-top: 0;
	margin-bottom: 45px;
}

.b-clients__lead {
	.my-heading-lead();

	margin: 0;
}
