@import "variables.less";
@import "mixins";
@import "mymixins";

.b-cases {

}

.b-cases__header {
    .my-heading-h1();

    margin-top: 0;
    margin-bottom: 53px;
}

.b-cases__list {
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin: 0 @grid-gutter-width/2;

    @media (min-width: @screen-xl-min) {
        padding: 0 2%;

        margin-left: auto;
        margin-right: auto;

        max-width: ~"calc(2400px + 4% + 4%)";
    }
}

.b-cases__item {
    display: block;
    margin: 0 8px 16px;
    position: relative;

    flex-grow: 1;
    transition: color 0.2s ease;

    &:hover, &:active, &:focus {
        .b-cases__content {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        //.b-cases__image, .b-cases__video {
        //    min-width: 105%;
        //    min-height: 105%;
        //}
    }
}

.cases_list_item_horizontal() {
    .b-cases__media {
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
    }

    .b-cases__image_horizontal, .b-cases__video_horizontal, .js-cases-cover-video_horizontal {
        display: block;
    }

    .b-cases__image_vertical, .b-cases__image_square,
    .b-cases__video_vertical, .b-cases__video_square,
    .js-cases-cover-video_vertical, .js-cases-cover-video_square {
        display: none;
    }
}

.cases_list_item_vertical() {
    .b-cases__media {
        padding-top: 177.77%; /* 9:16 Aspect Ratio */
    }

    .b-cases__image_vertical, .b-cases__video_vertical, .js-cases-cover-video_vertical {
        display: block;
    }

    .b-cases__image_horizontal, .b-cases__image_square,
    .b-cases__video_horizontal, .b-cases__video_square,
    .js-cases-cover-video_horizontal, .js-cases-cover-video_square {
        display: none;
    }
}

.cases_list_item_square() {
    .b-cases__media {
        padding-top: 100%; /* 1:1 Aspect Ratio */
    }

    .b-cases__image_square, .b-cases__video_square, .js-cases-cover-video_square {
        display: block;
    }
    .b-cases__image_horizontal, .b-cases__image_vertical,
    .b-cases__video_horizontal, .b-cases__video_vertical,
    .js-cases-cover-video_horizontal, .js-cases-cover-video_vertical {
        display: none;
    }
}

/**
  Mobile
 */
@media (max-width: @screen-sm-max) {
    // Horizontal
    .b-cases__list .b-cases__item:nth-child(3n+1) {
        width: ~"calc(100% / 1 - 16px)";

        .cases_list_item_horizontal();

        .b-cases__content {
            height: 150px;
        }
    }

    // Vertical
    .b-cases__list .b-cases__item:nth-child(3n+2) {
        width: ~"calc(100% / 1 - 16px)";

        .cases_list_item_vertical();
    }

    // Square
    .b-cases__list .b-cases__item:nth-child(3n+3) {
        width: ~"calc(100% / 1 - 16px)";

        .cases_list_item_square();

        .b-cases__content {
            height: 300px;
        }
    }
}

/**
  Tablets
 */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    // Horizontal
    .b-cases__list .b-cases__item:nth-child(5n+1),
    .b-cases__list .b-cases__item:nth-child(5n+2):last-child {
        width: ~"calc(100% / 1 - 16px)";

        .cases_list_item_horizontal();
    }

    // Vertical
    .b-cases__list .b-cases__item:nth-child(5n+2),
    .b-cases__list .b-cases__item:nth-child(5n+3) {
        width: ~"calc(100% / 2 - 16px)";

        .cases_list_item_vertical();
    }

    // Square
    .b-cases__list .b-cases__item:nth-child(5n+4),
    .b-cases__list .b-cases__item:nth-child(5n+5) {
        width: ~"calc(100% / 2 - 16px)";

        .cases_list_item_square();
    }
}

/**
  Desktop
 */
@media (min-width: @screen-lg-min) {
    .b-cases__list .b-cases__item:nth-child(6n+1),
    .b-cases__list .b-cases__item:nth-child(6n+2):last-child,
    .b-cases__list .b-cases__item:nth-child(6n+5):last-child {
        width: ~"calc(100% / 1 - 16px)";

        .cases_list_item_horizontal();
    }

    /**
      Vertical
     */
    .b-cases__list .b-cases__item:nth-child(6n+2),
    .b-cases__list .b-cases__item:nth-child(6n+3),
    .b-cases__list .b-cases__item:nth-child(6n+4) {
        width: ~"calc(100% / 3 - 16px)";

        .cases_list_item_vertical();
    }

    /**
      Square
     */
    .b-cases__list .b-cases__item:nth-child(6n+5),
    .b-cases__list .b-cases__item:nth-child(6n+6) {
        width: ~"calc(100% / 2 - 16px)";

        .cases_list_item_square();
    }
}

.b-cases__media {
    position: relative;
    overflow: hidden;

    width: 100%;

    border-radius: 20px;
    transform: translateZ(0);
}

.b-cases__image, .b-cases__video {
    min-width: 100%;
    min-height: 100%;

    max-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}

.b-cases__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: auto;
    max-height: 70%;
    min-height: 30%;

    border-radius: 20px;

    display: flex;
    align-items: flex-end;

    padding: 30px;
    padding-top: 100px;

    @media (min-width: @screen-lg-min) {
        padding: 50px;
        padding-top: 120px;
    }

    &:before, &:after {
        content: '';
        z-index: 1;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        transition: opacity 0.2s ease;
    }

    &:before {
        z-index: 1;

        background: linear-gradient(to top, rgba(21, 24, 25, 0.7) 0%, rgba(21, 24, 25, 0) 100%);
    }

    &:after {
        z-index: 2;
        opacity: 0;

        background: linear-gradient(to top, #2856F6 0%, rgba(40, 86, 246, 0) 100%);
    }
}

.b-cases__title {
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    z-index: 10;

    color: #FFFFFF;

    @media (min-width: @screen-lg-min) {
        font-size: 30px;
        line-height: 36px;
    }
}
