@import "variables.less";
@import "mixins";

.b-header
{
}

.b-header__logo
{
	//margin-top  : 54px;
	display     : block;
	float       : left;
	width       : 168px;
	height      : 38px;
	text-indent : -9999px;
	overflow    : hidden;
	background  : 0 0 no-repeat url("../../assets/img/logo-black.svg");

	&:hover, &:active, &:focus
	{
		background-image : url("../../assets/img/logo-blue.svg");
	}

	@media (min-width : @grid-float-breakpoint)
	{
		width  : 176px;
		height : 40px;
	}
}
