@import "variables.less";
@import "mixins";

.b-header {
	margin-bottom: 68px;
}

.b-header__logo {
	display: inline-block;
	float: left;
	width: 240px;
	height: 53px;
	background: left top no-repeat url("../../assets/img/logo.png");
	margin-top: 54px;

	&:hover, &:active, &:focus {
		background-position: left bottom;
	}
}

.b-header__menu {
	float: left;
	width: 490px;
	margin-top: 49px;
	margin-left: 33px;
}

.b-header__button {
	float: right;
	font-weight: bold;
	padding-left: 19px;
	padding-right: 19px;
	margin-top: 53px;
}
