@import "variables";
@import "mixins";
@import "mymixins";

.b-page {

}

.b-page__title {
	margin-top: 0;
	margin-bottom: 22px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.b-page__lead {
	font-size: 30px;
	margin-bottom: 40px;
	text-align: center;

	a {
		.mylink-extended(@text-color, 2px dotted rgba(37, 37, 37, .05), @link-hover-color);
	}
}

.b-page__link {
	color: @text-color;
	border-bottom: 3px solid rgba(37, 37, 37, .05);

	&:hover, &:active, &:focus {
		text-decoration: none;
		border-bottom-color: @link-hover-color;
	}
}

.b-page__sub-title {
	font-size: 40px;
	text-align: center;
	margin-top: -7px - 22px + 10px;
}
