@import "variables";
@import "mixins";
@import "mymixins";

.b-page {
	position: relative;
}

.b-page__title {
	margin-top: 0;
	margin-bottom: 45px;
	font-weight: bold;
	line-height: 1.275;

	.my-heading-h1();
}

.b-page__title_small {
	margin-top: 0;
	.my-heading-h2();
}

.b-page__lead {
	margin-bottom: 55px;

	.my-heading-lead();

	a {
		.mylink-extended(@text-color, 2px dotted @link-decoration-color, @link-hover-color);
	}
}

.b-page__link {
	.my-default-link();
	border-bottom-width: 4px;

	position: relative;
	top: 0;
	transition: all .2s;

	&:hover, &:active, &:focus {
		top: -5px;
		padding-bottom: 5px;
	}
}

.b-page__sub-title {
	.my-heading-h1();

	text-align: center;
	margin-top: -7px - 22px + 10px;
}

.b-page__anchor {

}

.b-page__back {
	display: inline-block;
	background: #fff;
	padding: 0 13px 0 34px;
	font-size: 12px;
	line-height: 36px;
	font-weight: bold;
	color: @block-link-color;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0 10px 32px;
	border-radius: 5px;
	box-shadow: 3px 3px 65px fade(#161f6a, 10%);

	position: relative;

	transition-property: background-color, color, transform;
	transition-duration: .1s;
	transition-timing-function: ease;

	&:before {
		position: absolute;
		top: 0;
		left: 13px;
		content: '#';
		font-size: 15px;
		font-weight: bold;
		color: fade(#161f6a, 20%);
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #ffffff;
		background: #161f6a;

		&:before {
			color: fade(#ffffff, 20%);
		}
	}
}
