@import "variables.less";
@import "mixins";

.b-reviews-filter {
}

.b-reviews-filter__item {
	font-size: 26px;
	line-height: 1.4;
	color: @block-link-color;
	margin: 10px 20px;
	display: inline-block;
	position: relative;

	&:first-child {
		margin-left: 0;
	}

	&.swiper-slide {
		width: auto;
	}

	&:not(.b-reviews-filter__item_active) .b-reviews-filter__title {
		border-bottom-color: @block-link-border-color;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @block-link-hover-color;

		&:not(.b-reviews-filter__item_active) .b-reviews-filter__title {
			border-bottom-color: @block-link-hover-border-color;
		}
	}
}

.b-reviews-filter__item_active {
	color: @block-link-hover-color;
}

.b-reviews-filter__title {
	display: inline-block;
	border-bottom: 2px dotted transparent;
}

.b-reviews-filter__count {
	display: none;
	color: rgba(37, 37, 37, .15);
}
