@import "variables.less";
@import "mixins";
@import "mymixins";
@import "type";

.b-size-tabs {
	padding-top: 6px;
	padding-bottom: 36px;

	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 0;

	.list-unstyled();
}

.b-size-tabs__item {
	display: inline-block;
}

.b-size-tabs__link {
	font-size: 12px;
	line-height: 32px;
	color: @text-color;
	font-weight: bold;
	letter-spacing: .1em;
	display: inline-block;
	border: 2px dashed #e5ebff;
	border-radius: 5px;
	padding: 0 11px;
	margin: 4px 5px;

	&:before {
		content: '#';
		font-size: 15px;
		color: fade(#e5ebff, 100%);
		margin-right: 10px;
	}

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @link-hover-color;
		border: 2px solid #fff;
		background: #fff;
		box-shadow: 1.5px 1.5px 32px rgba(0, 0, 0, .1);
	}
}

.b-size-tabs__item.active .b-size-tabs__link {
	border: 2px solid @link-active-color;
	background: @link-active-color;
	color: #fff;
	box-shadow: none;
	cursor: default;

	&:before {
		color: fade(#ffffff, 20%);
	}
}

.b-size-tabs__divider {
	margin-left: 3px;
	margin-right: 5px;
	text-transform: uppercase;
}
