@import "variables.less";
@import "mixins";
@import "mymixins";

.b-client {

}

.b-client__head {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 6px - 15px - 10px;
	margin-bottom: -15px;
}

.b-client__image {
	margin: 15px 25px;
	max-height: 50px;
}

.b-client__link {
	.my-heading-lead();
	.my-default-link();
	line-height: 1.2;
	margin: 15px 25px;
	display: inline-block;
	white-space: nowrap;
}

.b-client__text {
	.my-heading-lead();
	line-height: 1.2;
	margin-top: 100px;
	margin-bottom: 20px;
}
