.contact-block {
}

.contact-block__play {
    @apply h-15 pl-5 pr-5.5;
    @apply 2xl:h-16 2xl:pl-6 2xl:pr-7;
    @apply flex items-center gap-3;
    @apply rounded-20 bg-white;
    @apply font-glina;
    @apply text-[24px] leading-7;
    @apply 2xl:text-[28px];
    @apply !no-underline;
    @apply relative;
    @apply transition-all;

    box-shadow: 0 2px 12px 0 rgba(22, 31, 106, 0.15);

    &::after {
        content: "";

        position: absolute;
        left: -47px;
        top: -40px;
        width: 47px;
        height: 46px;
        transform: translate(30%, 30%);
        @apply transition-transform;

        mask-image: url("../img/video/play-decorate.svg");
        background-color: #fff;
    }

    &:hover {
        @apply scale-105;

        &::after {
            transform: translate(20%, 20%);
        }
    }
}

.contact-block__form {
    @apply w-[493px] 2xl:w-[578px] mt-[106px] 2xl:mt-[148px];
}

.contact-block__line1 {
    @apply font-semibold;
    @apply text-xl 2xl:text-2xl;
}

.contact-block__line2 {
    @apply text-5xl/13 2xl:text-[3.5rem]/17 3xl:text-[4rem]/17 font-bold;
}
