.contact-block {
}

.contact-block__play {
    @apply h-11.5 px-4;
    @apply xl:h-15 xl:pl-5 xl:pr-5.5;
    @apply 2xl:h-16 2xl:pl-6 2xl:pr-7;
    @apply flex items-center gap-2 xl:gap-3;
    @apply bg-white;
    @apply rounded-2xl xl:rounded-20;
    @apply font-glina;
    @apply text-xl;
    @apply xl:text-[24px] xl:leading-7;
    @apply 2xl:text-[28px];
    @apply !no-underline;
    @apply relative;
    @apply transition-all;

    box-shadow: 0 2px 12px 0 rgba(22, 31, 106, 0.15);

    &::after {
        @apply content-[""];
        @apply absolute;
        @apply w-[28px] h-[28px];
        @apply lg:w-[33px] lg:h-[33px];
        @apply xl:w-[47px] xl:h-[46px];

        transform: translate(30%, 30%);
        @apply transition-transform;

        mask-image: url("../img/video/play-decorate.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: #fff;
    }

    &:hover {
        @apply scale-105;

        &::after {
            transform: translate(20%, 20%);
        }
    }
}

.contact-block__play_lt::after {
    @apply -left-[47px/1.7] -top-[40px/1.7];
    @apply lg:-left-[47px/1.4] lg:-top-[40px/1.4];
    @apply xl:-left-[47px] xl:-top-[40px];
}

.contact-block__play_lb::after {
    @apply -rotate-[80deg];

    @apply -left-[47px/1.7] -bottom-[40px/1.7];
    @apply lg:-left-[47px/1.4] lg:-bottom-[40px/1.4];
    @apply xl:-left-[47px] xl:-bottom-[40px];
}

.contact-block__play_rt::after {
    @apply rotate-[100deg];

    @apply -right-[47px/1.7] -top-[40px/1.7];
    @apply lg:-right-[47px/1.4] lg:-top-[40px/1.4];
    @apply xl:-right-[47px] xl:-top-[40px];
}

.contact-block__play_rb::after {
    @apply -rotate-180;

    @apply -right-[47px/1.7] -bottom-[40px/1.7];
    @apply lg:-right-[47px/1.4] lg:-bottom-[40px/1.4];
    @apply xl:-right-[47px] xl:-bottom-[40px];
}

.contact-block__form {
    @apply w-full lg:w-[488px] xl:w-[493px] 2xl:w-[578px];
    @apply mt-[116px] md:mt-0 lg:mt-[100px] xl:mt-[106px] 2xl:mt-[148px];
}

.contact-block__line1 {
    @apply font-semibold;
    @apply text-base/4 xl:text-xl 2xl:text-2xl;
}

.contact-block__line2 {
    @apply text-[28px]/8 md:text-[32px]/10 lg:text-[40px]/11.5 xl:text-5xl/13 2xl:text-[3.5rem]/17 3xl:text-[4rem]/17 font-bold;
    @apply max-md:min-h-16;
}
