.footer-menu__link {
    @apply text-blue-900 font-semibold lg:font-medium;
    @apply text-xl/8 lg:text-sm xl:text-[17px]/3.5;

    @apply lg:py-3 lg:px-2;
    @apply xl:p-3;
    @apply rounded-10 transition-colors;

    &:hover, &:active, &:focus {
        @apply text-blue-900 lg:no-underline lg:bg-slate-40;
    }
}

.footer-menu_mobile {
    @apply relative;

    &::after {
        @apply md:content-[''];
        @apply absolute -right-[21px] top-0 bottom-0 w-px;

        @apply bg-slate-150;
    }
}

.footer-services {

}

.footer-services__item {
    @apply flex items-center flex-nowrap gap-3 p-0 lg:p-3 2xl:p-4 !no-underline rounded-xl transition-colors lg:hover:bg-slate-40;
}

.footer-services__label {
    @apply text-blue-900 text-xl lg:text-[17px] 2xl:text-2xl leading-[19px] font-semibold pb-[5px] transition-colors group-hover:text-blue-600;
}

.footer-services__tags {
    @apply flex flex-nowrap gap-5 mx-[9px];
    @apply text-slate-400 transition-colors group-hover:text-blue-900;

    & > .footer-services__tag:first-child::before {
        content: '';

        @apply absolute w-[9px] h-[26px] -left-[9px] top-0;

        background-image: url("../img/footer-services/left.svg");
        background-repeat: repeat-x;
        background-size: 9px 26px;
    }

    & > .footer-services__tag:last-child::after {
        content: '';

        @apply absolute w-[9px] h-[26px] -right-[9px] top-0;

        background-image: url("../img/footer-services/right.svg");
        background-repeat: repeat-x;
        background-size: 9px 26px;
    }

    & > .footer-services__tag:not(:last-child)::after {
        content: '';

        @apply absolute -top-0 -right-5 -bottom-0;
        @apply w-5 h-full;

        background-image: url("../img/footer-services/connector.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.footer-services__tag {
    @apply text-[9px] xl:text-tiny font-black leading-3 tracking-[0.4px] uppercase;
    @apply px-0 py-[7px];
    @apply relative;

    background-image: url("../img/footer-services/center.svg");
    background-repeat: repeat-x;
    background-size: 1px 26px;
}

.footer-review::after {
    content: '';

    width: 70px;
    height: 62px;
    position: absolute;
    right: 20px;
    top: -16px;

    mask: center no-repeat url("../img/quote.svg");
    mask-size: cover;
    background-color: #F4F6FA;

    @apply transition-all;
}

.footer-review:hover::after {
    top: 20px;
    background-color: #E8ECF3;
}

.footer__word-logo {
    @apply aspect-[1392/278] text-slate-50;
    @apply overflow-hidden;
    @apply relative;

    mask-image: url("../img/word_logo.svg");
    mask-size: cover;
    background-color: currentColor;

    &::after {
        content: '';

        @apply absolute w-full h-[150px] -bottom-[90px];

        background: #FFF;
        filter: blur(35px);
    }
}

.footer-features__check_1 {
    background-image: url("../img/footer-features/check_1.svg");
    background-position: center bottom;
}

.footer-features__check_2 {
    background-image: url("../img/footer-features/check_2.svg");
    background-position: center bottom;
}

.footer-features__check_3 {
    background-image: url("../img/footer-features/check_3.svg");
    background-position: center bottom;
}
