.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
}

.icon-telegram {
    mask-image: url("../img/telegram.svg");
    background-color: currentColor;
}

.icon-vk {
    mask-image: url("../img/vk.svg");
    background-color: currentColor;
}

.icon-checked {
    mask-image: url("../img/checked.svg");
    background-color: currentColor;
}

.icon-loading {
    mask-image: url("../img/loading.svg");
    background-color: currentColor;
}

.icon-logo {
    mask-image: url("../img/logo.svg");
    background-color: currentColor;
}

.icon-refresh {
    mask-image: url("../img/refresh.svg");
    background-color: currentColor;
}

.icon-scroll-up {
    mask-image: url("../img/scroll-up.svg");
    background-color: currentColor;
}

.icon-play-short {
    mask-image: url("../img/video/play-short.svg");
    background-color: currentColor;
}

.icon-close {
    mask-image: url("../img/video/modal-close.svg");
    background-color: currentColor;
}

/* header icons */
.icon-menu-toggle {
    mask-image: url("../img/menu-toggle.svg");
    background-color: currentColor;
}

.icon-order-button {
    mask-image: url("../img/icons/order-button.svg");
    background-color: currentColor;
}

.icon-telegram-full {
    mask-image: url("../img/telegram-full.svg");
    background-color: currentColor;
}

.icon-x-mark {
    mask-image: url("../img/x-mark.svg");
    background-color: currentColor;
}

.icon-menu-link {
    mask-image: url("../img/icons/menu-link.svg");
    background-color: currentColor;
}
