@import "../fonts/stylesheet.css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css";
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css";

/*@layer theme, base, components, utilities;*/
/*@import "tailwindcss/theme.css" layer(theme);*/
/*!* @import "tailwindcss/preflight.css" layer(base); *!*/
/*@import "tailwindcss/utilities.css" layer(utilities);*/

/* Components */
@import "./icons.css" layer(components);
@import "./forms.css" layer(components);
@import "./contact-switcher.css";
@import "./chat-message.css";
@import "./footer.css";
@import "./footer-case.css";

@theme {
    --font-sans: 'Craftwork Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Craftwork Grotesk', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-glina: 'Glina Script', sans-serif;

    --shadow-contact-switcher-label: 0 2px 8px 0 rgba(22, 31, 106, 0.08);

    --text-tiny: 0.625rem;
    --text-tiny--line-height: 0.875rem;
    --text-tiny--font-weight: 600;

    --text-32: 2rem;

    --color-blue-600: #2856F6;
    --color-blue-620: #2E55DB;
    --color-blue-680: #2146C4;
    --color-blue-900: #161F6A;

    --color-purple-50: #F6EFFF;
    --color-purple-300: #C08DFE;
    --color-purple-400: #AB67FE;
    --color-purple-500: #9A47FF;

    --color-violet-600: #6928F6;

    --color-lime-50: #F8FFE5;
    --color-lime-400: #C2FE0E;
    --color-lime-450: #A7F628;
    --color-lime-500: #A8E000;
    --color-lime-600: #9BCF00;

    --color-red-500: #FD324A;

    --color-rose-500: #FD375B;

    --color-slate-40: #F4F6FA;
    --color-slate-100: #F5F7FA;
    --color-slate-200: #E8E9F0;
    --color-slate-430: #8187AD;

    --color-indigo-50: #E2E9FF;
    --color-indigo-100: #E5EBFF;

    --color-cyan-400: #0CF2F2;

    --color-gray-400: #ABB1C4;

    --radius-10: 10px;
    --radius-20: 20px;
    --radius-28: 28px;

    --default-transition-duration: .3s;

    --breakpoint-sm: 40rem;   /* 640px  */
    --breakpoint-md: 48rem;   /* 768px  */
    --breakpoint-lg: 64rem;   /* 1024px */
    --breakpoint-xl: 80rem;   /* 1280px */
    --breakpoint-2xl: 90rem;  /* 1440px */
    --breakpoint-3xl: 100rem; /* 1600px */
    --breakpoint-4xl: 120rem; /* 1920px */
    /* Размеры контейнера (немного меньше брейкпоинтов для комфортных отступов) */
    --container-sm: 100%;     /* 576px */
    --container-md: 720px;    /* 720px */
    --container-lg: 960px;    /* 960px */
    --container-xl: 1240px;   /* 1240px */
    --container-2xl: 1360px;  /* 1360px */
    --container-3xl: 1520px;  /* 1600px */
    --container-4xl: 1800px;  /* 1520px */
}

@layer utilities {
    .container {
        /* none as we use bootstrap containers */
        @apply !max-w-none;
    }

    .tw-container {
        @apply w-full max-w-none mx-auto;

        @apply sm:max-w-(--container-sm);
        @apply md:max-w-(--container-md);
        @apply lg:max-w-(--container-lg);
        @apply xl:max-w-(--container-xl);
        @apply 2xl:max-w-(--container-2xl);
        @apply 3xl:max-w-(--container-3xl);
        @apply 4xl:max-w-(--container-4xl);
    }
}

/* Old container from bootstrap */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 510px) {
        width: 510px;
    }

    @media (min-width: 670px) {
        width: 670px;
    }

    @media (min-width: 990px) {
        width: 990px;
    }

    @media (min-width: 1230px) {
        width: 1230px;
    }
}

html {
    font-size: 16px;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

@config "../../tailwind.config.js";
