@import "variables.less";
@import "mixins";

.b-blog-menu {
	border: 1px solid #000000;
	display: flex;
	//flex-direction: row;
	//flex-wrap: nowrap;
	//align-content: stretch;
	//justify-content: stretch;
	//justify-content: space-between;
	align-items: stretch;
}

.b-blog-menu__item {
	border: 1px solid red;
}
