@import "variables";
@import "mixins";

.b-text {

	ul, ol {
		list-style-position: inside;
		padding: 0;

		li {
			margin-bottom: 6px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 35px;
		margin-bottom: 17px;
	}

	img {
		margin: 38px 0;
	}
}
