@import "variables.less";
@import "mixins";
@import "mymixins";

.b-portfolio-tag-outer
{
	background: @body-muted-bg;
	padding: 40px-15px/2 15px 25px+15px/2;
	margin : -29px auto 100px;
	border-radius: 10px;

	@media (min-width: @screen-md-min) {
		padding-left: 30px;
		padding-right: 30px;
	}

	&_detailview
	{
		padding-top: 4px;
		padding-bottom: 40px;
		margin : 0 -15px;
		border-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		width: auto !important;

		@media (min-width: 1200px) {
			margin: 0 -40px;
		}
	}
}

.b-portfolio-tag
{
	@height : 36px;
	display            : inline-block;
	height             : @height;
	line-height        : @height;
	border-radius      : 5px;
	box-shadow         : 1.5px 1.5px 32px fade(#161f6a, 10%);
	padding-left       : 12px;
	padding-right      : 12px;
	white-space        : nowrap;
	margin: 15px/2;
	transition         : all .1s;
	will-change        : transform;

	background: #fff;
	color              : @link-active-color;
	font-size          : 12px;
	font-weight        : bold;
	text-transform     : uppercase;
	letter-spacing     : .1em;
	text-decoration    : none !important;

	&.swiper-slide {
		width: auto;
	}

	&:before
	{
		content        : '#';
		color          : fade(#e5ebff, 100%);
		display        : inline-block;
		font-size      : 15px;
		font-weight    : bold;
		margin-right   : 10px;
		height         : @height;
		line-height    : @height;
	}

	&_image
	{
		line-height : (@height)-1;

		&::before
		{
			line-height : 19px;
		}

		.b-portfolio-tag__image
		{
			display : inline-block;
			height  : 17px;
			width   : auto;
			will-change: transform;
		}
	}

	&_selected {
		background: @link-active-color;
		color: #fff;
		box-shadow: none;
	}

	&:hover
	{
		//transform         : scale(1.05);
	}

	&:hover:before,
	&_selected:before
	{
		color   : fade(#ffffff, 20%);
	}
}

.b-portfolio-tag_theme
{
	&-violet
	{
		background : #A73FB6;
		color      : #FFF !important;
	}
	&-green
	{
		background : #00D973;
		color      : #FFF !important;
	}
	&-blue
	{
		background : #018ECE;
		color      : #FFF !important;
	}
}
