@import "variables.less";
@import "mixins";

.b-call-widget {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 9000;
}

/* The animation code */
@keyframes handshake {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-20deg);
	}
	75% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.b-call-widget__button {
	position: absolute;
	right: 0;
	bottom: 0;

	width: 60px;
	height: 60px;
	background: #2856f6; //linear-gradient(to bottom, #794ae3, #0f7fff);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 10px 30px fade(#2856f6, 40%);
	//box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16) !important;
	z-index: 9999;

	&:before {
		content: '';
		width: 61px/2;
		height: 67px/2;
		//width: 35px;
		//height: 35px;
		position: absolute;
		top: 29px/2 - 1px;
		left: 29px/2;
		opacity: 0;
		transform: rotate(-180deg);
		transition: all 0.4s ease-out;

		background: center center no-repeat url("../../assets/img/widget-icon.svg");
		background-size: 61px/2 67px/2;
	}

	&:after {
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		left: 20px;
		opacity: 1;
		transform: rotate(-180deg);
		transition: all 0.4s ease-out;

		background: center center no-repeat url("../../assets/img/widget-close.png");
		background-size: 20px;
	}
}

.b-call-widget__collapsed .b-call-widget__button {
	&:hover, &:active, &:focus {
		animation-name: handshake;
		animation-duration: .8s;
	}
}

.b-call-widget__link {
	z-index: 100000;
	width: 320px;

	position: fixed;
	right: 10px;
	bottom: 90px;

	max-width: ~"calc(100% - 20px)";

	text-decoration: none;
	padding: 19px 0;
	text-align: center;

	color: #ffffff;
	font-size: 16px;
	font-family: 'TTNorms', Arial, sans-serif;
	font-weight: 600;
	letter-spacing: 2.5px;
	border-radius: 30px;
	background-color: #acc000;
	text-transform: uppercase;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s;
	box-shadow: 0 10px 40px -5px rgba(172, 192, 0, 0.6);

	&:hover, &:active, &:focus {
		background-color: #b4cc00;
		color: #ffffff;
		text-decoration: none;
	}

	transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}

.b-call-widget__collapsed .b-call-widget__link {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transform: translate3d(0, 20px, 0);
	opacity: 0;
}

.b-call-widget__content {
	z-index: 100000;
	width: 320px;
	height: 500px;
	max-height: ~"calc(100% - 105px - 55px - 20px)";
	max-width: ~"calc(100% - 20px)";
	overflow: hidden;

	border-radius: 12px;
	background-color: #fff;
	box-shadow: 2px 2px 50px 0 rgba(0, 0, 0, 0.1);
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;

	position: fixed;
	bottom: 90px + 20px + 55px;
	right: 10px;
	transition: all 0.3s ease-out;
	transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}

.b-call-widget__collapsed .b-call-widget__content {
	transition: all 0.3s ease-out 0.2s;
	transform: translate3d(0, 20px + 55px, 0);
	opacity: 0;
}

.b-call-widget__collapsed .b-call-widget__button {
	&:before {
		opacity: 1;
		transform: rotate(0deg);
	}
	&:after {
		opacity: 0;
		transform: rotate(0deg);
	}
}

#callbackFrame {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
}
