@import "variables.less";
@import "mixins";

.b-portfolio-video {
	position: relative;
	display: block;
	margin: 0 auto;
}

.b-portfolio-video__play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 100;
}

.b-portfolio-video__play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 42px * 2;
	height: 42px * 2;

	border-radius: 50%;
	transition: all .05s ease-out;

	background: #2856f6 center left 31px no-repeat url("../../assets/img/play.svg");
	background-size: 26px 30px;
	box-shadow: 0 10px 30px rgba(40, 86, 246, .4);
}
