@import "variables.less";
@import "mixins";

.b-why-us {
	margin-top: 110px;
	margin-bottom: 30px;
}

.b-why-us__header {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

.b-why-us__list {
	.make-row(40px);
	.clearfix();
}

.b-why-us__item {
	.make-xs-column(4, 40px);
	margin-bottom: 55px;
}

.b-why-us__image {
	height: 175px;
}

.b-why-us__title {
	font-size: 24px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 17px;
}

.b-why-us__text {

}
