@import "variables.less";
@import "mixins";

.b-portfolio-carousel {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    padding-top: 22px;

    & > .container {
        position: relative;
    }

    .swiper-container {
        position: relative;
        height: auto;
        width: auto;

        overflow: visible;
    }

    .swiper-slide {
        width: auto;
    }
}

.b-portfolio-carousel__content {
    display: flex;
    flex-flow: row nowrap;
}

.b-portfolio-carousel_block {
    margin-right: 31px;

    @media (min-width: @screen-md-min) {
        margin-right: 41px;
    }

    &:last-child .b-portfolio-carousel__item:last-child {
        margin-right: 0;
    }
}

.b-portfolio-carousel__header {
    margin-bottom: 25px;

    @media (min-width: @screen-md-min) {
        margin-bottom: 45px;
    }
}

.b-portfolio-carousel__year {
    display: inline-block;
    padding: 5px 0;
    color: @headings-color;
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    transition: all .2s ease-in-out;
    transform: translate(0, 0);

    @media (min-width: @screen-md-min) {
        font-size: 52px;
    }

    &:hover, &:active, &:focus {
        transform: translate(0, -5px);
        text-decoration: none;
        border: none;
    }
}

.b-portfolio-carousel__items {
    display: flex;
    flex-flow: row nowrap;
}

.b-portfolio-carousel__item {

    margin-right: 31px;
    width: 180px;

    @media (min-width: @screen-md-min) {
        margin-right: 41px;
        width: 240px;
    }

    .b-portfolio__item {
        display: block;
        width: auto !important;
        height: auto !important;
        margin: 0;
    }
}

.b-portfolio-carousel__media {
    width: 180px;

    @media (min-width: @screen-md-min) {
        width: 240px;
    }

    margin-bottom: 37px;
    transition: all .2s ease-in-out;
    transform: translateY(0px);

    border-radius: 10px;
    //box-shadow: 0 20px 40px 0 ~"rgb(76 49 31 / 20%)";

    &:hover, &:active, &:focus {
        transform: translateY(-10px);
    }
}

.b-portfolio-carousel__image {
    width: 100%;
    //max-width: 100%;
    border-radius: 10px;
}

.b-portfolio-carousel__media .b-portfolio__video {
    width: auto !important;
    height: auto !important;

    max-width: 180px !important;
    max-height: 300px !important;

    @media (min-width: @screen-md-min) {
        max-width: 240px !important;
        max-height: 400px !important;
    }

    border-radius: 10px;
}

.b-portfolio-carousel__title {
    display: block;
    max-width: 100%;

    color: @headings-color;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    @media (min-width: @screen-md-min) {
        font-size: 14px;
    }

    .b-page__link {
        top: 0;
    }
}

.b-portfolio-carousel__link {

}

.b-portfolio-carousel__prev, .b-portfolio-carousel__next {
    margin-top: 40px + 25px; // height + margin of year

    width: 60px;
    height: 60px;

    position: absolute;
    top: 150px;
    transform: translate(0, -50%);

    border-radius: 50%;
    background: #fff no-repeat center center;
    background-size: 50px;
    box-shadow: 0 20px 40px 0 ~"rgba(22,31,106, 0.2)";

    cursor: pointer;
    z-index: 100;
    outline: none !important;

    @media (min-width: @screen-md-min) {
        margin-top: 62px + 45px; // height + margin of year
        width: 100px;
        height: 100px;

        top: 200px;
    }

    &:after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100px;
        height: 100px;

        opacity: 0;

        transition: all .2s ease-in-out;

        background-color: transparent;
        border: 2px solid #3654ee;
        border-radius: 50%;
        margin: 0;

        @media (min-width: @screen-md-min) {
            width: 160px;
            height: 160px;

            border: 6px solid #3654ee;
        }
    }

    &:hover {
        &:after {
            width: 71px;
            height: 71px;

            @media (min-width: @screen-md-min) {
                width: 131px;
                height: 131px;
            }

            opacity: 1;
        }
    }

    &:before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 30px;
        height: 30px;

        background: transparent no-repeat center center;
        background-size: 30px;
        background-image: url("../../assets/img/arrow-square-left.svg");
        z-index: 101;

        @media (min-width: @screen-md-min) {
            width: 100px;
            height: 100px;
            background-size: 50px;
        }
    }
}

.b-portfolio-carousel__prev {
    left: 0;
    margin-left: 15px;
    transform: translate(15%, -50%);

    @media (min-width: @screen-md-min) {
        margin-left: 0;
        transform: translate(-75%, -50%);
    }
}

.b-portfolio-carousel__next {
    right: 0;
    margin-right: 15px;
    transform: translate(-15%, -50%);

    @media (min-width: @screen-md-min) {
        margin-right: 0;
        transform: translate(75%, -50%);
    }

    &:before {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

.b-portfolio-carousel__hand {
    position: absolute;
    top: -50px;
    left: 135px;

    background: transparent left top no-repeat url("../../assets/img/hand.png");

    width: 146px;
    height: 157px;
    background-size: 146px 157px;

    @media (min-width: @screen-md-min) {
        left: 425px;
        width: 264px;
        height: 284px;
        background-size: 264px 284px;
    }

    z-index: 150;
    pointer-events: none;

    animation: sbs-anim-rec399376259-1598962678582 2s infinite linear;
    backface-visibility: hidden;
}

@keyframes sbs-anim-rec399376259-1598962678582 {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
        animation-timing-function: ease-out;
    }
    50% {
        opacity: 1;
        transform: translateX(-30px) translateY(0px) rotate(0deg) scale(1, 1);
        animation-timing-function: ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}
