@import "variables.less";
@import "mixins";
@import "mymixins";

.b-filter {
	text-align: center;
	margin-bottom: 50px;
}

.b-filter__item {
	position: relative;
	text-decoration: none;

	display: inline-block;
	padding: 8px 20px;
	color: @text-color;

	.my-heading-lead();
	line-height: 1.1;

	@media (min-width: @grid-float-breakpoint) {
		line-height: 32px;
	}

	&:not(.b-filter__item_active) .b-filter__title {
		border-bottom-color: #f5f6fa;
	}

	&:hover, &:active, &:focus {
		color: #4c5370;

		.b-filter__title {
			border-bottom-color: #d9dbe6;
		}
	}
}

.b-filter__item_active {
	.b-filter__title {
		color: #4c5370 !important;
		border-bottom-color: transparent !important;
	}

	&.b-filter__item_with-arrow:after {
		@media (min-width: @grid-float-breakpoint) {
			content: '';

			position: absolute;
			bottom: -10px - 11px;
			left: 50%;
			transform: translateX(-50%);

			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-bottom: 10px solid #f5f6fa;
		}
	}
}

.b-filter__title {
	display: inline-block;
	border-bottom: 2px solid transparent;
}
