@import "variables.less";
@import "mixins";
@import "mymixins";

.b-filter {
	margin-bottom: 50px;
}

.b-filter__item {
	position: relative;
	text-decoration: none;

	display: inline-block;
	padding: 8px 20px;
	color: @block-link-color;

	.my-heading-lead();
	line-height: 1.1;

	@media (min-width: @grid-float-breakpoint) {
		line-height: 32px;
	}

	&:not(.b-filter__item_active) .b-filter__title {
		border-bottom-color: @block-link-border-color;
	}

	&:hover, &:active, &:focus {
		color: @block-link-hover-color;

		.b-filter__title {
			border-bottom-color: @block-link-hover-border-color;
		}
	}

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	&.swiper-slide {
		width: auto;
	}
}

.b-filter__item_active {
	.b-filter__title {
		color: @block-link-hover-color !important;
		border-bottom-color: transparent !important;
	}

	&.b-filter__item_with-arrow:after {
		@media (min-width: @grid-float-breakpoint) {
			content: '';

			position: absolute;
			bottom: -10px - 11px;
			left: 50%;
			transform: translateX(-50%);

			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-bottom: 10px solid @body-muted-bg;
		}
	}
}

.b-filter__title {
	display: inline-block;
	border-bottom: 2px solid transparent;
}
