@import "variables.less";
@import "mixins";

.b-offer {
	margin-top: 28px;
	margin-bottom: 100px;
}

.b-offer__cover {
	position: relative;
	margin-bottom: 88px;
}

.b-offer__image {
	border-radius: 13px;
}

.b-offer__rub {
	font-family: 'PT Sans Narrow', sans-serif;
}

.b-offer__text {

}

.b-offer__bottom {
	text-align: center;
	font-size: 24px;

	.btn {
		font-weight: bold;
		margin: 0 13px;
	}
}
