<section id="contacts-container" class="relative m-8 mb-12 font-sans min-h-[780px] hidden">
    <!-- Contact switcher (абсолютное позиционирование) -->
    <div class="absolute top-3 right-3 z-10">
        <div class="flex items-start justify-between p-4 pb-7 bg-white rounded-28 h-[140px] w-[578px]">
            <!-- Дима -->
            <div data-active="true" data-target="dima" class="group contact-switcher__item contact-switcher__item_dima">
                <div class="contact-switch">
                    <div class="contact-switch__ring_dima"></div>
                    <div class="contact-switch__img contact-switch__img_dima"></div>
                    <div class="contact-switch__label contact-switch__label_dima">
                        Дима, СЕО
                    </div>
                    <div class="contact-switch__connector"></div>
                </div>
                <div class="contact-switcher__info">
                    <div class="contact-switcher__line1">Наведём движ?</div>
                    <a href="mailto:hello@tolkunov.com" class="contact-switcher__line2">hello@tolkunov.com</a>
                </div>
            </div>

            <!-- Таня -->
            <div data-active="false" data-target="tanya" class="group contact-switcher__item contact-switcher__item_tanya">
                <div class="contact-switch">
                    <div class="contact-switch__ring_tanya"></div>
                    <div class="contact-switch__img contact-switch__img_tanya"></div>
                    <div class="contact-switch__label contact-switch__label_tanya">
                        Таня, PR
                    </div>
                    <div class="contact-switch__connector"></div>
                </div>
                <div class="contact-switcher__info">
                    <div class="contact-switcher__line1">Посотрудничаем?</div>
                    <a href="mailto:pr@tolkunov.com" class="contact-switcher__line2">pr@tolkunov.com</a>
                </div>
            </div>

            <!-- Оля -->
            <div data-active="false" data-target="olya" class="group contact-switcher__item contact-switcher__item_olya">
                <div class="contact-switch">
                    <div class="contact-switch__ring_olya"></div>
                    <div class="contact-switch__img contact-switch__img_olya"></div>
                    <div class="contact-switch__label contact-switch__label_olya">
                        Оля, HR
                    </div>
                    <div class="contact-switch__connector"></div>
                </div>
                <div class="contact-switcher__info">
                    <div class="contact-switcher__line1">Нужна работа?</div>
                    <a href="mailto:hr@tolkunov.com" class="contact-switcher__line2">hr@tolkunov.com</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Дима блок -->
    <div data-contact="dima" data-active="true"
         class="contact-block rounded-4xl bg-blue-600 flex font-sans min-h-[780px] p-3 transition-opacity opacity-0 pointer-events-none data-[active=true]:opacity-100 data-[active=true]:pointer-events-auto absolute inset-0">
        <!-- Левая часть -->
        <div class="flex-1 p-7 flex flex-col justify-between">
            <div class="font-serif space-y-2 w-[525px]">
                <div class="text-white/60 text-2xl font-semibold">Спасибо, что долистали до конца</div>
                <div class="text-white text-[3.5rem]/17 font-bold">Самое время обсудить проект</div>
            </div>

            <div class="flex flex-col items-start gap-3 max-w-[273px]">
                <div class="chat-message chat-message-1 chat-message_default">Привет!</div>
                <div class="chat-message chat-message-2 chat-message_default">Я Дима, фаундер<br>агентства TOLKUNOV</div>
                <div class="chat-message chat-message-3 chat-message_cta">
                    <div class="text-blue-900 text-base font-bold tracking-[0.16px]">Отвечу на все вопросы и&nbsp;посчитаю смету</div>

                    <a href="https://t.me/tolkunovdb" target="_blank"
                       class="bg-blue-600 py-3 pl-4 pr-6 rounded-20 hover:bg-blue-620 active:bg-blue-680 transition-colors  inline-flex items-center gap-2 font-glina text-2xl/6 font-thin !text-white !no-underline">
                        <span class="icon icon-telegram size-7"></span>
                        <span>Написать</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Правая часть - форма -->
        <div class="w-[578px] mt-[148px] relative">
            <form class="bg-white rounded-28 flex flex-col p-3 h-full" method="post">
                <div class="space-y-5 p-3">
                    <div class="form-row">
                        <label class="form-label">Услуги</label>

                        <div class="chips-group flex flex-wrap gap-3">
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="banners">
                                <span class="chip-label">Баннеры</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="outdoor">
                                <span class="chip-label">Наружка</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="2d">
                                <span class="chip-label">2D</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="3d">
                                <span class="chip-label">3D</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="landing">
                                <span class="chip-label">Лендинги</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <label class="form-label">Бюджет</label>

                        <div class="chips-group flex flex-wrap gap-4">
                            <label class="chip flex-1">
                                <input type="radio" class="hidden" name="budget" value="100k">
                                <span class="chip-label">от 100 000 ₽</span>
                                <span class="chip-hint">HTML5-баннер <br>с&nbsp;несколькими ресайзами</span>
                            </label>
                            <label class="chip flex-1">
                                <input type="radio" class="hidden" name="budget" value="500k">
                                <span class="chip-label">от 500 000 ₽</span>
                                <span class="chip-hint">Пак баннеров HTML5 <br>для&nbsp;онлайн и наружки</span>
                            </label>
                            <label class="chip flex-1">
                                <input type="radio" class="hidden" name="budget" value="1m">
                                <span class="chip-label">от 1 млн ₽</span>
                                <span class="chip-hint">То же, что за 500к <br>+ 3D и лендинг</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <textarea name="description" class="form-field resize-y min-h-8 max-h-27" rows="1" auto-grow
                                  placeholder="Опишите задачу: чем больше информации, тем лучше"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="text" name="name" class="form-field" placeholder="Имя">
                    </div>
                    <div class="flex flex-row flex-nowrap gap-5">
                        <div class="form-row flex-1">
                            <input type="text" name="email" class="form-field" placeholder="Email">
                        </div>
                        <div class="form-row flex-1">
                            <input type="text" name="telegram" class="form-field" placeholder="Телеграм">
                        </div>
                    </div>

                    <label class="flex items-start gap-2 cursor-pointer select-none">
                        <input type="checkbox" name="agree" required class="visually-hidden"/>

                        <span class="form-checkbox block"></span>

                        <span class="text-xs leading-4.5 !font-medium">
                            Даю согласие на обработку моих
                            <a href="https://tolkunov.com/view/terms.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">персональных данных</a>
                            в соответствии с
                            <a href="https://tolkunov.com/view/privacy.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>

                <!-- Кнопка "Отправить" -->
                <button type="submit"
                        class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-blue-600 hover:bg-blue-620 active:bg-blue-680 transition-colors text-white font-glina text-2xl/6 border-none mt-auto">
                    Отправить
                </button>

                <div class="hidden">
                    <!-- Кнопка "Отправить" (состояние: загрузка) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-blue-600 transition-colors text-white font-glina text-2xl/6 border-none mt-auto !cursor-progress"
                            disabled>
                    <span role="status" class="inline-block size-6 icon icon-loading text-white animate-spin">
                        <span class="sr-only">Загрузка…</span>
                    </span>
                    </button>

                    <!-- Кнопка "Отправить" (состояние: завершено) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-slate-40 transition-colors text-blue-600 font-glina text-2xl/6 border-none mt-auto cursor-default"
                            disabled>
                        <i class="icon icon-checked size-5"></i>
                        <span>Отправлено</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Таня блок -->
    <div data-contact="tanya" data-active="false"
         class="contact-block rounded-4xl bg-purple-400 flex font-sans min-h-[780px] p-3 transition-opacity opacity-0 pointer-events-none data-[active=true]:opacity-100 data-[active=true]:pointer-events-auto absolute inset-0">
        <!-- Левая часть -->
        <div class="flex-1 p-7 flex flex-col justify-between">
            <div class="font-serif space-y-2 w-[525px]">
                <div class="text-white/60 text-2xl font-semibold">Спасибо, что долистали до конца</div>
                <div class="text-white text-[3.5rem]/17 font-bold">Как насчёт кросс-промо?</div>
            </div>

            <div class="flex flex-col items-start gap-3 max-w-[273px]">
                <div class="chat-message chat-message-1 chat-message_default">Привет!</div>
                <div class="chat-message chat-message-2 chat-message_default">Я Таня, отвечаю за пиар<br>в TOLKUNOV</div>
                <div class="chat-message chat-message-3 chat-message_cta">
                    <div class="text-purple-900 text-base font-bold tracking-[0.16px]">Обсудим сотрудничество?</div>

                    <a href="https://t.me/firsaness" target="_blank"
                       class="bg-purple-400 py-3 pl-4 pr-6 rounded-20 hover:bg-purple-300 active:bg-purple-500 transition-colors inline-flex items-center gap-2 font-glina text-2xl/6 font-thin !text-white !no-underline">
                        <span class="icon icon-telegram size-7"></span>
                        <span>Написать</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Правая часть - форма -->
        <div class="w-[578px] mt-[148px] relative">
            <form class="bg-white rounded-28 flex flex-col p-3 h-full" method="post">
                <div class="space-y-5 p-3">
                    <div class="form-row">
                        <input type="text" name="name" class="form-field" placeholder="Имя">
                    </div>
                    <div class="form-row">
                        <input type="text" name="email" class="form-field" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="text" name="telegram" class="form-field" placeholder="Телеграм">
                    </div>
                    <div class="form-row">
                        <input type="text" name="company" class="form-field" placeholder="Название компании">
                    </div>
                    <div class="form-row">
                        <input type="text" name="position" class="form-field" placeholder="Должность">
                    </div>
                    <div class="form-row">
                        <textarea name="message" class="form-field resize-y min-h-8 max-h-32" rows="1" auto-grow
                                  placeholder="Расскажите о вашем предложении или задайте вопрос"></textarea>
                    </div>

                    <label class="flex items-start gap-2 cursor-pointer select-none">
                        <input type="checkbox" name="agree" required class="visually-hidden"/>

                        <span class="form-checkbox block"></span>

                        <span class="text-xs leading-4.5 !font-medium">
                            Даю согласие на обработку моих
                            <a href="https://tolkunov.com/view/terms.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">персональных данных</a>
                            в соответствии с
                            <a href="https://tolkunov.com/view/privacy.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>

                <!-- Кнопка "Отправить" -->
                <button type="submit"
                        class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-purple-400 hover:bg-purple-300 active:bg-purple-500 transition-colors text-white font-glina text-2xl/6 border-none mt-auto">
                    Отправить
                </button>

                <div class="hidden">
                    <!-- Кнопка "Отправить" (состояние: загрузка) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-purple-400 transition-colors text-white font-glina text-2xl/6 border-none mt-auto !cursor-progress"
                            disabled>
                    <span role="status" class="inline-block size-6 icon icon-loading text-white animate-spin">
                        <span class="sr-only">Загрузка…</span>
                    </span>
                    </button>

                    <!-- Кнопка "Отправить" (состояние: завершено) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-purple-50 transition-colors text-purple-400 font-glina text-2xl/6 border-none mt-auto cursor-default"
                            disabled>
                        <i class="icon icon-checked size-5"></i>
                        <span>Отправлено</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Оля блок -->
    <div data-contact="olya" data-active="false"
         class="contact-block rounded-4xl bg-lime-500 flex font-sans min-h-[780px] p-3 transition-opacity opacity-0 pointer-events-none data-[active=true]:opacity-100 data-[active=true]:pointer-events-auto absolute inset-0">
        <!-- Левая часть -->
        <div class="flex-1 p-7 flex flex-col justify-between">
            <div class="font-serif space-y-2 w-[525px]">
                <div class="text-blue-900/60 text-2xl font-semibold">Спасибо, что долистали до конца</div>
                <div class="text-blue-900 text-[3.5rem]/17 font-bold">В поиске крутых коллег?</div>
            </div>

            <div class="flex flex-col items-start gap-3 max-w-[273px]">
                <div class="chat-message chat-message-1 chat-message_default">Привет!</div>
                <div class="chat-message chat-message-2 chat-message_default">Я Оля, отвечаю за кадры<br>в TOLKUNOV</div>
                <div class="chat-message chat-message-3 chat-message_cta">
                    <div class="text-blue-900 text-base font-bold tracking-[0.16px]">Хочешь работать у нас? Присылай своё резюме</div>

                    <a href="https://t.me/cancolya" target="_blank"
                       class="bg-lime-500 py-3 pl-4 pr-6 rounded-20 hover:bg-lime-400 active:bg-lime-600 transition-colors inline-flex items-center gap-2 font-glina text-2xl/6 font-thin !text-blue-900 !no-underline">
                        <span class="icon icon-telegram size-7"></span>
                        <span>Написать</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Правая часть - форма -->
        <div class="w-[578px] mt-[148px] relative">
            <form class="bg-white rounded-28 flex flex-col p-3 h-full" method="post">
                <div class="space-y-5 p-3">
                    <div class="form-row">
                        <input type="text" name="name" class="form-field" placeholder="Имя">
                    </div>
                    <div class="form-row">
                        <input type="text" name="email" class="form-field" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="text" name="telegram" class="form-field" placeholder="Телеграм">
                    </div>
                    <div class="form-row">
                        <textarea name="skills" class="form-field resize-y min-h-8 max-h-32" rows="1" auto-grow
                                  placeholder="Несколько строк о навыках и опыте"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="text" name="portfolio" class="form-field" placeholder="Ссылка на резюме, сайт или файл с портфолио">
                    </div>

                    <label class="flex items-start gap-2 cursor-pointer select-none">
                        <input type="checkbox" name="agree" required class="visually-hidden"/>

                        <span class="form-checkbox block"></span>

                        <span class="text-xs leading-4.5 !font-medium">
                            Даю согласие на обработку моих
                            <a href="https://tolkunov.com/view/terms.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">персональных данных</a>
                            в соответствии с
                            <a href="https://tolkunov.com/view/privacy.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>

                <!-- Кнопка "Отправить" -->
                <button type="submit"
                        class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-lime-500 hover:bg-lime-400 active:bg-lime-600 transition-colors text-blue-900 font-glina text-2xl/6 border-none mt-auto">
                    Отправить
                </button>

                <div class="hidden">
                    <!-- Кнопка "Отправить" (состояние: загрузка) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-lime-500 transition-colors text-blue-900 font-glina text-2xl/6 border-none mt-auto !cursor-progress"
                            disabled>
                    <span role="status" class="inline-block size-6 icon icon-loading text-blue-900 animate-spin">
                        <span class="sr-only">Загрузка…</span>
                    </span>
                    </button>

                    <!-- Кнопка "Отправить" (состояние: завершено) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-lime-50 transition-colors text-blue-900 font-glina text-2xl/6 border-none mt-auto cursor-default"
                            disabled>
                        <i class="icon icon-checked size-5"></i>
                        <span>Отправлено</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer class="footer py-12 font-sans tw-container">
    <section class="footer-menu flex items-center justify-between mb-8">
        <div class="flex items-center gap-3">
            <div class="icon icon-logo size-11 text-blue-600"></div>
            <span class="text-blue-900 font-glina text-32 tracking-[-0.64px]">Продакшн</span>
        </div>

        <nav class="footer-menu__nav flex items-start gap-6">
            <a href="#" class="footer-menu__link">Услуги</a>
            <a href="#" class="footer-menu__link">Работы</a>
            <a href="#" class="footer-menu__link">Отзывы</a>
            <a href="#" class="footer-menu__link">Вакансии</a>
            <a href="#" class="footer-menu__link">Кейсы</a>
            <a href="#" class="footer-menu__link">Клиенты</a>
            <a href="#" class="footer-menu__link">Об агентстве</a>
        </nav>

        <div class="mr-4 flex gap-3.5">
            <a href="#" class="flex items-center justify-center size-11 rounded-xl ring-[1.5px] ring-slate-200 text-blue-900"><i class="icon icon-telegram size-6"></i></a>
            <a href="#" class="flex items-center justify-center size-11 rounded-xl ring-[1.5px] ring-slate-200 text-blue-900"><i class="icon icon-vk size-6"></i></a>
        </div>
    </section>

    <section class="footer-info grid grid-cols-[auto_1fr_auto] gap-6">
        <!-- footer services -->
        <div class="footer-services flex flex-col items-start">
            <a href="#" class="group flex items-center flex-nowrap gap-3 p-4 !no-underline rounded-xl transition-colors hover:bg-slate-40">
                <span class="text-blue-900 text-2xl leading-[19px] font-semibold pb-[5px] transition-colors group-hover:text-blue-600">Баннеры</span>

                <div class="footer-services__tags text-slate-400 transition-colors group-hover:text-blue-900">
                    <span class="footer-services__tag">HTML5</span>
                    <span class="footer-services__tag">Статика</span>
                    <span class="footer-services__tag">Видео</span>
                </div>
            </a>
            <a href="#" class="group flex items-center flex-nowrap gap-3 p-4 !no-underline rounded-xl transition-colors hover:bg-slate-40">
                <span class="text-blue-900 text-2xl leading-[19px] font-semibold pb-[5px] transition-colors group-hover:text-blue-600">Наружка</span>

                <div class="footer-services__tags text-slate-400 transition-colors group-hover:text-blue-900">
                    <span class="footer-services__tag">OOH</span>
                    <span class="footer-services__tag">DOOH</span>
                    <span class="footer-services__tag">MF</span>
                </div>
            </a>
            <a href="#" class="group flex items-center flex-nowrap gap-3 p-4 !no-underline rounded-xl transition-colors hover:bg-slate-40">
                <span class="text-blue-900 text-2xl leading-[19px] font-semibold pb-[5px] transition-colors group-hover:text-blue-600">2D</span>

                <div class="footer-services__tags text-slate-400 transition-colors group-hover:text-blue-900">
                    <span class="footer-services__tag">Иллюстрации</span>
                    <span class="footer-services__tag">Моушн</span>
                </div>
            </a>
            <a href="#" class="group flex items-center flex-nowrap gap-3 p-4 !no-underline rounded-xl transition-colors hover:bg-slate-40">
                <span class="text-blue-900 text-2xl leading-[19px] font-semibold pb-[5px] transition-colors group-hover:text-blue-600">3D</span>

                <div class="footer-services__tags text-slate-400 transition-colors group-hover:text-blue-900">
                    <span class="footer-services__tag">Иллюстрации</span>
                    <span class="footer-services__tag">Моушн</span>
                </div>
            </a>
            <a href="#" class="group flex items-center flex-nowrap gap-3 p-4 !no-underline rounded-xl transition-colors hover:bg-slate-40">
                <span class="text-blue-900 text-2xl leading-[19px] font-semibold pb-[5px] transition-colors group-hover:text-blue-600">Лендинги</span>

                <div class="footer-services__tags text-slate-400 transition-colors group-hover:text-blue-900">
                    <span class="footer-services__tag">СПЕЦПРОЕКТЫ</span>
                </div>
            </a>
        </div>

        <div class="flex flex-nowrap gap-6">
            <!-- footer case container -->
            <div class="footer-case-container relative rounded-3xl overflow-hidden basis-1/2 lg:basis-[61.5%]">
                <!-- Начальный кейс -->
                <div class="footer-case absolute inset-0 transition-all opacity-0 pointer-events-none data-[active=true]:opacity-100 data-[active=true]:pointer-events-auto"
                     data-active="true">
                    <img src="https://dummyimage.com/400x400" alt="#" class="absolute inset-0 w-full h-full object-cover">

                    <!-- Градиентная панель -->
                    <div class="footer-case__panel absolute bottom-0 left-0 right-0 p-5 pr-16 flex items-center">
                        <div class="footer-case__title">Баннеры для
                            <nobr><img class="b-cases__title-img" src="https://dummyimage.com/48x48" alt="МТС Банк"> МТС Банка</nobr>
                        </div>
                    </div>
                </div>

                <!-- Кнопка обновления -->
                <button
                        type="button"
                        class="footer-case__refresh group absolute bottom-5 right-5 inline-flex items-center justify-center p-1 rounded-full size-7 bg-white border-none transition-all inset-ring-[1.5px] inset-ring-slate-40 hover:backdrop-blur-sm z-10 disabled:cursor-not-allowed"
                        data-refresh-url="http://tolkunov.local/test"
                        aria-label="Обновить"
                >
                    <i class="icon icon-refresh size-5 text-gray-400 transform transition-all group-hover:rotate-180 group-hover:text-blue-900"></i>
                </button>
            </div>

            <!-- footer review container -->
            <div class="footer-review-container relative rounded-2xl inset-ring-[1.5px] inset-ring-slate-40 basis-1/2 lg:basis-[38.5%]">
                <!-- Начальный отзыв -->
                <a href="#"
                   data-active="true"
                   class="footer-review rounded-2xl absolute inset-0 transition-all flex flex-col p-5 !no-underline hover:bg-slate-100 opacity-0 pointer-events-none scale-90 data-[active=true]:opacity-100 data-[active=true]:pointer-events-auto data-[active=true]:scale-100">
                    <div class="w-[109px] h-[40px] flex items-center">
                        <img src="https://dummyimage.com/200x60" alt="#" class="max-w-full max-h-full object-contain"/>
                    </div>

                    <div class="text-blue-900 font-serif text-lg font-bold leading-6 mt-auto mb-4">Спасибо, Дима, ещё раз, что&nbsp;вы&nbsp;есть и&nbsp;делаете такой качественный продукт</div>

                    <div class="flex flex-col gap-3 mr-10">
                        <div class="text-sm font-bold tracking-[0.14px] text-blue-900">Константин Обухов</div>
                        <div class="text-slate-430 text-tiny font-black leading-3 tracking-[0.4px] uppercase">Арт-директор</div>
                    </div>
                </a>

                <!-- Кнопка обновления -->
                <button
                        type="button"
                        class="footer-review__refresh group absolute bottom-5 right-5 inline-flex items-center justify-center p-1 rounded-full size-7 bg-white border-none transition-all inset-ring-[1.5px] inset-ring-slate-40 hover:backdrop-blur-sm z-10 disabled:cursor-not-allowed"
                        data-refresh-url="http://tolkunov.local/test"
                        aria-label="Обновить отзыв"
                >
                    <i class="icon icon-refresh size-5 text-gray-400 transform transition-all group-hover:rotate-180 group-hover:text-blue-900"></i>
                </button>
            </div>
        </div>

        <!-- verticals -->
        <div class="flex flex-col justify-between rounded-2xl inset-ring-[1.5px] inset-ring-slate-40 p-3 w-[209px]">
            <div class="p-2 pb-0 text-slate-430 font-serif font-bold text-[15px] leading-[25px]">А ещё мы делаем</div>

            <div class="flex flex-col items-start gap-1 font-glina text-2xl leading-[57%] tracking-[-0.48px]">
                <a href="#" class="group inline-flex items-center gap-1.5 p-2 rounded-xl !no-underline transition-colors text-blue-900 hover:text-rose-500 hover:bg-slate-40">
                    <i class="icon icon-logo size-7 transition-colors"></i>
                    <span class="text-blue-900">Журнал</span>
                </a>
                <a href="#" class="group inline-flex items-center gap-1.5 p-2 rounded-xl !no-underline transition-colors text-blue-900 hover:text-cyan-400 hover:bg-slate-40">
                    <i class="icon icon-logo size-7 transition-colors"></i>
                    <span class="text-blue-900">Академия</span>
                </a>
                <a href="#" class="group inline-flex items-center gap-1.5 p-2 rounded-xl !no-underline transition-colors text-blue-900 hover:text-violet-600 hover:bg-slate-40">
                    <i class="icon icon-logo size-7 transition-colors"></i>
                    <span class="text-blue-900">Сервисы</span>
                </a>
                <a href="#" class="group inline-flex items-center gap-1.5 p-2 rounded-xl !no-underline transition-colors text-blue-900 hover:text-lime-450 hover:bg-slate-40">
                    <i class="icon icon-logo size-7 transition-colors"></i>
                    <span class="text-blue-900">Маркет</span>
                </a>
            </div>
        </div>
    </section>
</footer>
