.b-footer
    .container
        .row
            .col-xs-4
                a.b-footer__logo(href='#')

                .b-social-links
                    .b-social-links__item
                        .b-social-links__link.b-social-links__link_vk
                    .b-social-links__item
                        .b-social-links__link.b-social-links__link_fb
                    .b-social-links__item
                        .b-social-links__link.b-social-links__link_tw
                    .b-social-links__item
                        .b-social-links__link.b-social-links__link_instagram
                    .b-social-links__item
                        .b-social-links__link.b-social-links__link_youtube
                    .b-social-links__item
                        .b-social-links__link.b-social-links__link_spark
                .b-footer__copyright © Студия Толкунова Дмитрия,#[br]2010‐2016
