<div id="contacts-container" class="relative m-8 font-sans">
    <!-- Contact switcher (абсолютное позиционирование) -->
    <div class="absolute top-3 right-3 z-10">
        <div class="flex items-start justify-between p-4 pb-7 bg-white rounded-28 h-[140px] w-[578px]">
            <!-- Дима -->
            <div data-active="true" data-target="dima" class="group contact-switcher__item contact-switcher__item_dima">
                <div class="contact-switch">
                    <div class="contact-switch__ring_dima"></div>
                    <div class="contact-switch__img contact-switch__img_dima"></div>
                    <div class="contact-switch__label contact-switch__label_dima">
                        Дима, СЕО
                    </div>
                    <div class="contact-switch__connector"></div>
                </div>
                <div class="contact-switcher__info">
                    <div class="contact-switcher__line1">Наведём движ?</div>
                    <a href="mailto:hello@tolkunov.com" class="contact-switcher__line2">hello@tolkunov.com</a>
                </div>
            </div>

            <!-- Таня -->
            <div data-active="false" data-target="tanya" class="group contact-switcher__item contact-switcher__item_tanya">
                <div class="contact-switch">
                    <div class="contact-switch__ring_tanya"></div>
                    <div class="contact-switch__img contact-switch__img_tanya"></div>
                    <div class="contact-switch__label contact-switch__label_tanya">
                        Таня, PR
                    </div>
                    <div class="contact-switch__connector"></div>
                </div>
                <div class="contact-switcher__info">
                    <div class="contact-switcher__line1">Посотрудничаем?</div>
                    <a href="mailto:pr@tolkunov.com" class="contact-switcher__line2">pr@tolkunov.com</a>
                </div>
            </div>

            <!-- Оля -->
            <div data-active="false" data-target="olya" class="group contact-switcher__item contact-switcher__item_olya">
                <div class="contact-switch">
                    <div class="contact-switch__ring_olya"></div>
                    <div class="contact-switch__img contact-switch__img_olya"></div>
                    <div class="contact-switch__label contact-switch__label_olya">
                        Оля, HR
                    </div>
                    <div class="contact-switch__connector"></div>
                </div>
                <div class="contact-switcher__info">
                    <div class="contact-switcher__line1">Нужна работа?</div>
                    <a href="mailto:hr@tolkunov.com" class="contact-switcher__line2">hr@tolkunov.com</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Дима блок -->
    <div data-contact="dima" data-active="true"
         class="contact-block rounded-4xl bg-blue-600 flex font-sans min-h-[780px] p-3 transition-opacity duration-300 opacity-100 pointer-events-auto absolute inset-0">
        <!-- Левая часть -->
        <div class="flex-1 p-7 flex flex-col justify-between">
            <div class="font-serif space-y-2 w-[525px]">
                <div class="text-white/60 text-2xl font-semibold">Спасибо, что долистали до конца</div>
                <div class="text-white text-[3.5rem]/17 font-bold">Самое время обсудить проект</div>
            </div>

            <div class="flex flex-col items-start gap-3 max-w-[273px]">
                <div class="chat-message chat-message-1 chat-message_default">Привет!</div>
                <div class="chat-message chat-message-2 chat-message_default">Я Дима, фаундер<br>агентства TOLKUNOV</div>
                <div class="chat-message chat-message-3 chat-message_cta">
                    <div class="text-blue-900 text-base font-bold tracking-[0.16px]">Отвечу на все вопросы и&nbsp;посчитаю смету</div>

                    <a href="https://t.me/tolkunovdb" target="_blank"
                       class="bg-blue-600 py-3 pl-4 pr-6 rounded-20 hover:bg-blue-620 active:bg-blue-680 transition-colors  inline-flex items-center gap-2 font-glina text-2xl/6 font-thin !text-white !no-underline">
                        <span class="icon icon-telegram size-7"></span>
                        <span>Написать</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Правая часть - форма -->
        <div class="w-[578px] mt-[148px] relative">
            <form class="bg-white rounded-28 flex flex-col p-3 h-full" method="post">
                <div class="space-y-5 p-3">
                    <div class="form-row">
                        <label class="form-label">Услуги</label>

                        <div class="chips-group flex flex-wrap gap-3">
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="banners">
                                <span class="chip-label">Баннеры</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="outdoor">
                                <span class="chip-label">Наружка</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="2d">
                                <span class="chip-label">2D</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="3d">
                                <span class="chip-label">3D</span>
                            </label>
                            <label class="chip">
                                <input type="checkbox" class="hidden" name="tags[]" value="landing">
                                <span class="chip-label">Лендинги</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <label class="form-label">Бюджет</label>

                        <div class="chips-group flex flex-wrap gap-4">
                            <label class="chip flex-1">
                                <input type="radio" class="hidden" name="budget" value="100k">
                                <span class="chip-label">от 100 000 ₽</span>
                                <span class="chip-hint">HTML5-баннер <br>с&nbsp;несколькими ресайзами</span>
                            </label>
                            <label class="chip flex-1">
                                <input type="radio" class="hidden" name="budget" value="500k">
                                <span class="chip-label">от 500 000 ₽</span>
                                <span class="chip-hint">Пак баннеров HTML5 <br>для&nbsp;онлайн и наружки</span>
                            </label>
                            <label class="chip flex-1">
                                <input type="radio" class="hidden" name="budget" value="1m">
                                <span class="chip-label">от 1 млн ₽</span>
                                <span class="chip-hint">То же, что за 500к <br>+ 3D и лендинг</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <textarea name="description" class="form-field resize-y min-h-8 max-h-27" rows="1" auto-grow
                                  placeholder="Опишите задачу: чем больше информации, тем лучше"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="text" name="name" class="form-field" placeholder="Имя">
                    </div>
                    <div class="flex flex-row flex-nowrap gap-5">
                        <div class="form-row flex-1">
                            <input type="text" name="email" class="form-field" placeholder="Email">
                        </div>
                        <div class="form-row flex-1">
                            <input type="text" name="telegram" class="form-field" placeholder="Телеграм">
                        </div>
                    </div>

                    <label class="flex items-start gap-2 cursor-pointer select-none">
                        <input type="checkbox" name="agree" class="visually-hidden"/>

                        <span class="form-checkbox block"></span>

                        <span class="text-xs leading-4.5 !font-medium">
                            Даю согласие на обработку моих
                            <a href="https://tolkunov.com/view/terms.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">персональных данных</a>
                            в соответствии с
                            <a href="https://tolkunov.com/view/privacy.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>

                <!-- Кнопка "Отправить" -->
                <button type="submit"
                        class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-blue-600 hover:bg-blue-620 active:bg-blue-680 transition-colors text-white font-glina text-2xl/6 border-none mt-auto">
                    Отправить
                </button>

                <div class="hidden">
                    <!-- Кнопка "Отправить" (состояние: загрузка) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-blue-600 transition-colors text-white font-glina text-2xl/6 border-none mt-auto !cursor-progress"
                            disabled>
                    <span role="status" class="inline-block size-6 icon icon-loading text-white animate-spin">
                        <span class="sr-only">Загрузка…</span>
                    </span>
                    </button>

                    <!-- Кнопка "Отправить" (состояние: завершено) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-slate-40 transition-colors text-blue-600 font-glina text-2xl/6 border-none mt-auto cursor-default"
                            disabled>
                        <i class="icon icon-checked size-5"></i>
                        <span>Отправлено</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Таня блок -->
    <div data-contact="tanya" data-active="false"
         class="contact-block rounded-4xl bg-purple-400 flex font-sans min-h-[780px] p-3 transition-opacity duration-300 opacity-0 pointer-events-none absolute inset-0">
        <!-- Левая часть -->
        <div class="flex-1 p-7 flex flex-col justify-between">
            <div class="font-serif space-y-2 w-[525px]">
                <div class="text-white/60 text-2xl font-semibold">Спасибо, что долистали до конца</div>
                <div class="text-white text-[3.5rem]/17 font-bold">Как насчёт кросс-промо?</div>
            </div>

            <div class="flex flex-col items-start gap-3 max-w-[273px]">
                <div class="chat-message chat-message-1 chat-message_default">Привет!</div>
                <div class="chat-message chat-message-2 chat-message_default">Я Таня, отвечаю за пиар<br>в TOLKUNOV</div>
                <div class="chat-message chat-message-3 chat-message_cta">
                    <div class="text-purple-900 text-base font-bold tracking-[0.16px]">Обсудим сотрудничество?</div>

                    <a href="https://t.me/firsaness" target="_blank"
                       class="bg-purple-400 py-3 pl-4 pr-6 rounded-20 hover:bg-purple-300 active:bg-purple-500 transition-colors inline-flex items-center gap-2 font-glina text-2xl/6 font-thin !text-white !no-underline">
                        <span class="icon icon-telegram size-7"></span>
                        <span>Написать</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Правая часть - форма -->
        <div class="w-[578px] mt-[148px] relative">
            <form class="bg-white rounded-28 flex flex-col p-3 h-full" method="post">
                <div class="space-y-5 p-3">
                    <div class="form-row">
                        <input type="text" name="name" class="form-field" placeholder="Имя">
                    </div>
                    <div class="form-row">
                        <input type="text" name="email" class="form-field" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="text" name="telegram" class="form-field" placeholder="Телеграм">
                    </div>
                    <div class="form-row">
                        <input type="text" name="company" class="form-field" placeholder="Название компании">
                    </div>
                    <div class="form-row">
                        <input type="text" name="position" class="form-field" placeholder="Должность">
                    </div>
                    <div class="form-row">
                        <textarea name="message" class="form-field resize-y min-h-8 max-h-32" rows="1" auto-grow
                                  placeholder="Расскажите о вашем предложении или задайте вопрос"></textarea>
                    </div>

                    <label class="flex items-start gap-2 cursor-pointer select-none">
                        <input type="checkbox" name="agree" class="visually-hidden"/>

                        <span class="form-checkbox block"></span>

                        <span class="text-xs leading-4.5 !font-medium">
                            Даю согласие на обработку моих
                            <a href="https://tolkunov.com/view/terms.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">персональных данных</a>
                            в соответствии с
                            <a href="https://tolkunov.com/view/privacy.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>

                <!-- Кнопка "Отправить" -->
                <button type="submit"
                        class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-purple-400 hover:bg-purple-300 active:bg-purple-500 transition-colors text-white font-glina text-2xl/6 border-none mt-auto">
                    Отправить
                </button>

                <div class="hidden">
                    <!-- Кнопка "Отправить" (состояние: загрузка) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-purple-400 transition-colors text-white font-glina text-2xl/6 border-none mt-auto !cursor-progress"
                            disabled>
                    <span role="status" class="inline-block size-6 icon icon-loading text-white animate-spin">
                        <span class="sr-only">Загрузка…</span>
                    </span>
                    </button>

                    <!-- Кнопка "Отправить" (состояние: завершено) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-purple-50 transition-colors text-purple-400 font-glina text-2xl/6 border-none mt-auto cursor-default"
                            disabled>
                        <i class="icon icon-checked size-5"></i>
                        <span>Отправлено</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Оля блок -->
    <div data-contact="olya" data-active="false"
         class="contact-block rounded-4xl bg-lime-500 flex font-sans min-h-[780px] p-3 transition-opacity duration-300 opacity-0 pointer-events-none absolute inset-0">
        <!-- Левая часть -->
        <div class="flex-1 p-7 flex flex-col justify-between">
            <div class="font-serif space-y-2 w-[525px]">
                <div class="text-blue-900/60 text-2xl font-semibold">Спасибо, что долистали до конца</div>
                <div class="text-blue-900 text-[3.5rem]/17 font-bold">В поиске крутых коллег?</div>
            </div>

            <div class="flex flex-col items-start gap-3 max-w-[273px]">
                <div class="chat-message chat-message-1 chat-message_default">Привет!</div>
                <div class="chat-message chat-message-2 chat-message_default">Я Оля, отвечаю за кадры<br>в TOLKUNOV</div>
                <div class="chat-message chat-message-3 chat-message_cta">
                    <div class="text-blue-900 text-base font-bold tracking-[0.16px]">Хочешь работать у нас? Присылай своё резюме</div>

                    <a href="https://t.me/cancolya" target="_blank"
                       class="bg-lime-500 py-3 pl-4 pr-6 rounded-20 hover:bg-lime-400 active:bg-lime-600 transition-colors inline-flex items-center gap-2 font-glina text-2xl/6 font-thin !text-blue-900 !no-underline">
                        <span class="icon icon-telegram size-7"></span>
                        <span>Написать</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Правая часть - форма -->
        <div class="w-[578px] mt-[148px] relative">
            <form class="bg-white rounded-28 flex flex-col p-3 h-full" method="post">
                <div class="space-y-5 p-3">
                    <div class="form-row">
                        <input type="text" name="name" class="form-field" placeholder="Имя">
                    </div>
                    <div class="form-row">
                        <input type="text" name="email" class="form-field" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <input type="text" name="telegram" class="form-field" placeholder="Телеграм">
                    </div>
                    <div class="form-row">
                        <textarea name="skills" class="form-field resize-y min-h-8 max-h-32" rows="1" auto-grow
                                  placeholder="Несколько строк о навыках и опыте"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="text" name="portfolio" class="form-field" placeholder="Ссылка на резюме, сайт или файл с портфолио">
                    </div>

                    <label class="flex items-start gap-2 cursor-pointer select-none">
                        <input type="checkbox" name="agree" class="visually-hidden"/>

                        <span class="form-checkbox block"></span>

                        <span class="text-xs leading-4.5 !font-medium">
                            Даю согласие на обработку моих
                            <a href="https://tolkunov.com/view/terms.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">персональных данных</a>
                            в соответствии с
                            <a href="https://tolkunov.com/view/privacy.pdf" target="_blank" class="text-blue-600 underline hover:no-underline">политикой конфиденциальности</a>
                        </span>
                    </label>
                </div>

                <!-- Кнопка "Отправить" -->
                <button type="submit"
                        class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-lime-500 hover:bg-lime-400 active:bg-lime-600 transition-colors text-blue-900 font-glina text-2xl/6 border-none mt-auto">
                    Отправить
                </button>

                <div class="hidden">
                    <!-- Кнопка "Отправить" (состояние: загрузка) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-lime-500 transition-colors text-blue-900 font-glina text-2xl/6 border-none mt-auto !cursor-progress"
                            disabled>
                    <span role="status" class="inline-block size-6 icon icon-loading text-blue-900 animate-spin">
                        <span class="sr-only">Загрузка…</span>
                    </span>
                    </button>

                    <!-- Кнопка "Отправить" (состояние: завершено) -->
                    <button type="submit"
                            class="flex items-center justify-center gap-2.5 px-6 py-4 rounded-20 bg-lime-50 transition-colors text-blue-900 font-glina text-2xl/6 border-none mt-auto cursor-default"
                            disabled>
                        <i class="icon icon-checked size-5"></i>
                        <span>Отправлено</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>