<!--[if lte IE 8]>
p.browserupgrade.
    You are using an #[strong outdated] browser.
    Please #[a(target="_blank", href="http://browsehappy.com/") upgrade your browser] to improve your experience.
<!--<![endif]-->

.b-header
    .container
        .clearfix
            a.b-header__logo(href='#')
            .b-header__menu.b-header-menu
                .b-header-menu__item: a.b-header-menu__link(href='portfolio_type_1.html') Портфолио
                .b-header-menu__item: a.b-header-menu__link(href='reviews.html') Отзывы
                .b-header-menu__item: a.b-header-menu__link(href='#') Стоимость
                .b-header-menu__item: a.b-header-menu__link(href='#') Справочник клиента
                .b-header-menu__item: a.b-header-menu__link(href='#') Контакты
            a.btn.btn-success.btn-lg.b-header__button(href='#') Заказать баннер
