<header class="header" data-open="false">
    <div class="h-[72px] relative">
        <div class="header__container">
            <section class="header__main">
                <div class="flex flex-nowrap items-center gap-4">
                    <a href="#" class="header__logo flex flex-nowrap items-center gap-3 w-[152px] xl:w-[170px]">
                        <i class="icon icon-logo size-10 xl:size-11 text-blue-600"></i>
                        <span>Продакшн</span>
                    </a>
                    <span class="w-px h-4.5 bg-[#E9EDF5]"></span>
                    <div class="size-10 flex items-center justify-center -ml-1">
                        <button class="header__toggle">
                            <i class="icon icon-menu-toggle size-3 transition-all"></i>
                        </button>
                    </div>
                </div>
                <nav class="header__nav flex items-center gap-1">
                    <a href="#" class="header__link header__link_active">Услуги</a>
                    <a href="#" class="header__link">Работы</a>
                    <a href="#" class="header__link">Отзывы</a>
                    <a href="#" class="header__link">Вакансии</a>
                    <a href="#" class="header__link">Кейсы</a>
                    <a href="#" class="header__link">Клиенты</a>
                    <a href="#" class="header__link">Об агентстве</a>
                </nav>

                <div class="xl:w-[234px] flex justify-end">
                    <a href="https://tolkunov.com/order" class="header__button">
                        <span>Заказать</span>
                        <i class="icon icon-order-button size-7"></i>
                    </a>
                </div>
            </section>

            <section class="header__extra">
                <!-- header verticals -->
                <div class="flex flex-col gap-4">
                    <!--            <div class="xl:p-2 pb-0 text-slate-430 font-serif font-bold xl:font-medium 2xl:font-bold text-[15px] xl:text-sm 2xl:text-[15px] 2xl:leading-[25px]">А ещё мы делаем</div>-->

                    <div class="flex flex-col items-start font-glina text-2xl leading-[57%] tracking-[-0.48px]">
                        <a href="https://tolkunov.com/journal-soon"
                           class="group inline-flex items-center gap-2 xl:gap-1.5 p-2 xl:px-3 rounded-xl !no-underline transition-colors text-blue-900 hover:text-[#FD375B] hover:bg-[#F4F6FA]">
                            <i class="icon icon-logo size-7 transition-colors"></i>
                            <span class="text-blue-900">Журнал</span>
                        </a>
                        <a href="https://tolkunov.com/academy"
                           class="group inline-flex items-center gap-2 xl:gap-1.5 p-2 xl:px-3  rounded-xl !no-underline transition-colors text-blue-900 hover:text-[#0CF2F2] hover:bg-[#F4F6FA]">
                            <i class="icon icon-logo size-7 transition-colors"></i>
                            <span class="text-blue-900">Академия</span>
                        </a>
                        <a href="https://tolkunov.com/services"
                           class="group inline-flex items-center gap-2 xl:gap-1.5 p-2 xl:px-3  rounded-xl !no-underline transition-colors text-blue-900 hover:text-[#6928F6] hover:bg-[#F4F6FA]">
                            <i class="icon icon-logo size-7 transition-colors"></i>
                            <span class="text-blue-900">Сервисы</span>
                        </a>
                        <a href="https://tolkunov.com/market"
                           class="group inline-flex items-center gap-2 xl:gap-1.5 p-2 xl:px-3  rounded-xl !no-underline transition-colors text-blue-900 hover:text-[#A7F628] hover:bg-[#F4F6FA]">
                            <i class="icon icon-logo size-7 transition-colors"></i>
                            <span class="text-blue-900">Маркет</span>
                        </a>
                    </div>
                </div>

                <div class="w-px h-full bg-[#E9EDF5]"></div>

                <!-- footer services -->
                <div class="services-menu services-menu_small flex flex-col items-start gap-8 md:gap-5 lg:gap-0 md:max-lg:ml-2.5 xl:-mx-2">
                    <a href="#" class="services-menu__item group">
                        <span class="services-menu__label">Баннеры</span>

                        <div class="services-menu__tags">
                            <span class="services-menu__tag">HTML5</span>
                            <span class="services-menu__tag">Статика</span>
                            <span class="services-menu__tag">Видео</span>
                        </div>
                    </a>
                    <a href="#" class="services-menu__item group">
                        <span class="services-menu__label">Наружка</span>

                        <div class="services-menu__tags">
                            <span class="services-menu__tag">OOH</span>
                            <span class="services-menu__tag">DOOH</span>
                            <span class="services-menu__tag">MF</span>
                        </div>
                    </a>
                    <a href="#" class="services-menu__item group">
                        <span class="services-menu__label">2D</span>

                        <div class="services-menu__tags">
                            <span class="services-menu__tag">Иллюстрации</span>
                            <span class="services-menu__tag">Моушн</span>
                        </div>
                    </a>
                    <a href="#" class="services-menu__item group">
                        <span class="services-menu__label">3D</span>

                        <div class="services-menu__tags">
                            <span class="services-menu__tag">Иллюстрации</span>
                            <span class="services-menu__tag">Моушн</span>
                        </div>
                    </a>
                    <a href="#" class="services-menu__item group">
                        <span class="services-menu__label">Лендинги</span>

                        <div class="services-menu__tags">
                            <span class="services-menu__tag">СПЕЦПРОЕКТЫ</span>
                        </div>
                    </a>
                </div>

                <div class="w-px h-full bg-[#E9EDF5] max-xl:hidden"></div>

                <div class="xl:mx-4">
                    <div class="header-contact">
                        <div class="header-contact__img"></div>
                    </div>

                    <div class="mt-4 xl:mt-2 flex flex-col gap-2 font-sans font-medium">
                        <div class="flex flex-col gap-1 p-3 rounded-2xl bg-[#F4F6FA]">
                            <span class="text-blue-600 text-[13px]/4">Дмитрий Толкунов</span>
                            <span class="text-blue-900 text-xs/4 xl:text-[13px]/4">Привет! Я фаундер агентства</span>
                        </div>

                        <div class="flex flex-col items-start gap-3 px-3 py-2.5 xl:px-2.5 rounded-2xl bg-[#F4F6FA]">
                            <span class="text-blue-900 text-xs/4 xl:text-[13px]/4">Отвечу на вопросы, составлю смету, поставлю задачи команде, проконтролирую качество</span>
                            <a href="https://t.me/tolkunovdb" target="_blank" class="flex items-center gap-2 px-3.5 py-2.5 rounded-xl bg-white text-blue-900 font-glina text-lg/3.5 !no-underline">
                                <i class="icon icon-telegram-full size-3"></i>
                                <span class="">Написать</span>
                            </a>
                        </div>

                    </div>
                </div>

                <!-- footer case container -->
                <div class="footer-case-container relative rounded-[20px] overflow-hidden">
                    <!-- Начальный кейс -->
                    <a href="#"
                       data-active="true"
                       class="footer-case absolute inset-0 transition-all opacity-0 pointer-events-none data-[active=true]:opacity-100 data-[active=true]:pointer-events-auto">
                        <img src="https://dummyimage.com/400x400" alt="#" class="absolute inset-0 w-full h-full object-cover">

                        <!-- Градиентная панель -->
                        <div class="footer-case__panel absolute bottom-0 left-0 right-0 p-5 flex items-center">
                            <div class="footer-case__title">Баннеры для
                                <nobr><img class="b-cases__title-img" src="https://dummyimage.com/48x48" alt="МТС Банк"> МТС Банка</nobr>
                            </div>
                        </div>
                    </a>

                    <!-- Кнопка обновления -->
                    <button
                            type="button"
                            class="footer-case__refresh group absolute top-4 left-4 inline-flex items-center justify-center p-1 rounded-full size-7 bg-white border-none transition-all inset-ring-[1.5px] inset-ring-slate-40 hover:backdrop-blur-sm z-10"
                            data-refresh-url="http://tolkunov.local/test"
                            aria-label="Обновить"
                    >
                        <i class="icon icon-refresh size-5 text-gray-400 transform transition-all group-hover:rotate-180 group-hover:text-blue-900"></i>
                    </button>
                </div>


            </section>
        </div>
    </div>

    <div class="header__overlay"></div>
</header>
