head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')

    title #{title}
    meta(name="description", content="")

    block styles
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap&subset=cyrillic')
        //link(rel='stylesheet', href='assets/fonts/stylesheet.css')
        link(rel='stylesheet', href='assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick.css')
        link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick-theme.css')
        link(rel='stylesheet', href='assets/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5', media='screen')
        //link(rel='stylesheet', href='assets/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=2.1.5', media='screen')
        //link(rel='stylesheet', href='assets/vendor/odometer/themes/odometer-theme-minimal.css')
        link(rel='stylesheet', href='assets/vendor/jquery.scrollbar/jquery.scrollbar.css')
        link(rel='stylesheet', href='assets/vendor/swiper/dist/css/swiper.min.css')
        link(rel='stylesheet', href='assets/css/common.min.css')

    block scripts
        script(src='assets/vendor/jquery/dist/jquery.min.js')
        script(src='assets/vendor/bootstrap/dist/js/bootstrap.min.js')
        script(src='assets/vendor/packery/dist/packery.pkgd.min.js')
        script(src='assets/vendor/masonry/dist/masonry.pkgd.min.js')
        script(src='assets/vendor/slick-carousel/slick/slick.min.js')
        script(src='assets/vendor/retina.js/dist/retina.min.js')
        script(src='assets/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')
        script(src='assets/vendor/fancybox/source/helpers/jquery.fancybox-media.js')
        //script(src='assets/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.js')
        script(src='assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js')
        script(src='assets/vendor/swiper/dist/js/swiper.min.js')
        //script(src='assets/js/emerge.js')
        script(src='assets/js/script.js')
