@import "variables.less";
@import "mixins";

.g-loader:not(.g-loader_without-gradient) {
	position: relative;
	height: 0;
}

.g-loader_without-gradient {
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.g-loader__content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	//justify-content: center;
}

.g-loader:not(.g-loader_without-gradient) .g-loader__content {
	position: absolute;
	top: -280px;

	width: 100%;
	height: 280px;
	padding-top: 100px;

	background: #fff;

	&:before {
		position: absolute;
		top: -200px;
		left: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .6) 60%, rgba(255, 255, 255, 0) 100%);
		content: '';
		pointer-events: none;
	}
}

.g-loader_theme_dark:not(.g-loader_without-gradient) {
	.g-loader__content {
		background: @body-muted-bg;

		&:before {
			background: linear-gradient(to top, fade(@body-muted-bg, 100%) 0%, fade(@body-muted-bg, 60%) 60%, fade(@body-muted-bg, 0%) 100%);
		}
	}
}

.g-loader_reviews:not(.g-loader_without-gradient) .g-loader__content {
	top: -500px;
	height: 500px;
}

.g-loader__link {
	display: block;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 23px 25px;
	border-radius: 100px;
	font-size: 16px;
	line-height: 2;

	transition: all .2s;

	@media (min-width: @screen-md-min) {
		padding: 21px 45px;
		font-size: 18px;
	}

	@media (min-width: @screen-xl-min) {
		font-size: 20px;
	}

	&.btn-info {
		box-shadow: 0 10px 40px 10px rgba(40, 86, 246, 0.3);
	}
}

.g-loader__button {
	background: #d9dbe6;
	border-radius: 10px;
	font-size: 20px;
	height: 80px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #9ba1b6;
	display: block;
	width: 95%;

	margin: 0 auto;
	text-align: center;

	line-height: 1;

	&:hover, &:active, &:focus {
		background-color: #9ba1b6;
		color: #d9dbe6;
		text-decoration: none;
	}
}

/* For portfolio */
.button-width-loop (@i) when (@i < 9) {

	@screen-width: (@i * (204px + 20px));
	@button-width: (@i * (204px + 20px) - 20px);

	.g-loader_portfolio .g-loader__button {
		@media (min-width: @screen-width) {
			width: @button-width;
		}
	}

	.button-width-loop(@i + 1);
}

.button-width-loop(4);

/* For reviews */
.button-width-loop (@i) when (@i < 6) {

	@screen-width: (@i * (320px + 45px));
	@button-width: (@i * (320px + 45px) - 45px);

	.g-loader_reviews .g-loader__button {
		@media (min-width: @screen-width) {
			width: @button-width;
		}
	}

	.button-width-loop(@i + 1);
}

.button-width-loop(2);

/* For clients */
.button-width-loop (@i) when (@i < 8) {

	@screen-width: (@i * (200px + 40px) + 40px + 30px);
	@button-width: (@i * (200px + 40px) - 40px);

	.g-loader_clients .g-loader__button {
		@media (min-width: @screen-width) and (min-width: @screen-xl-min) {
			width: @button-width;
		}
	}

	.button-width-loop(@i + 1);
}

.button-width-loop(4);

.g-loader__button-icon {
	display: none;
	position: relative;

	width: 170px;
	height: 170px;
	top: -45px;
	//width: 80px;
	//height: 80px;
	background: center center no-repeat url("../../assets/img/load.gif");
	background-size: 170px;
}

html.smil .g-loader__button-icon {
	background-image: url("../../assets/img/load.svg");
}

.g-loader__button-text {
	line-height: 80px;
	letter-spacing: .1em;
}

.g-loader__button_state_loading {
	background: none !important;
	cursor: default;

	.g-loader__button-text {
		display: none;
	}

	.g-loader__button-icon {
		display: inline-block;
	}
}

html.smil .g-preloader {
	background-image: url("../../assets/img/load_white.svg");
}

.g-preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 170px;
	height: 170px;
	background: center center no-repeat url("../../assets/img/load.gif");
	background-size: 170px;
}
