@import "variables.less";
@import "mixins";
@import "mymixins";

.b-language-tabs {
	text-align: center;
	margin-bottom: 9px;
	margin-top: 41px;
}

.b-language-tabs__list {
	list-style: none;
	padding: 0;
	margin: 0;

	.clearfix();

	@media (min-width: @screen-md-min) {
		display: inline-block;
		border-bottom: 2px solid #f5f6fa;
		padding: 0 40px;
	}
}

.b-language-tabs__item {
	display: inline-block;

	@media (min-width: @screen-md-min) {
		float: left;
	}
}

.b-language-tabs__link {
	.my-heading-h3();
	line-height: 36/24;

	color: @text-color;
	padding: 8px 0;
	margin: 0 20px;
	display: block;
	position: relative;

	&:hover, &:active, &:focus {
		color: #4c5370;
		text-decoration: none;

		.b-language-tabs__title {
			border-bottom-color: #a2a8bb;
		}
	}

	@media (min-width: @screen-md-min) {
		padding: 18px 0 13px;
	}
}

.b-language-tabs__item.active .b-language-tabs__link {
	color: #4c5370;

	@media (min-width: @screen-md-min) {
		border-bottom: 2px solid #4c5370;
		margin-bottom: -2px;
		padding: 22px 0 9px;
	}

	&:before {
		@media (max-width: @screen-sm-max) {
			display: none;
		}

		content: '';

		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translateX(-50%);

		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;

		border-bottom: 10px solid #4c5370;
	}
	&:after {
		@media (max-width: @screen-sm-max) {
			display: none;
		}

		content: '';

		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);

		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;

		border-bottom: 10px solid #fff;
	}

	.b-language-tabs__title {
		border-bottom-color: transparent;
	}
}

.b-language-tabs__title {
	border-bottom: 2px dotted #d9dbe6;
	display: inline-block;
}
