@import "variables.less";
@import "mixins";

.b-offers {

}

.b-offers__filter {

}

.b-offers__list {
	width: 1020px;
	margin: 0 auto;
	padding-left: 10px;

	@media (min-width: 1360px) {
		width: 1360px;
	}

	@media (min-width: 1700px) {
		width: 1700px;
	}
}

.b-offers__item {
	padding: 11px 20px 17px;
	border: 4px solid transparent;
	border-radius: 4px;
	width: 320px;
	margin-bottom: 20px;
	color: @text-color;

	float: left;
	display: block;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @text-color;
		border-color: #9c1cae;
	}
}

.b-offers__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 17px;
}

.b-offers__content {
	position: relative;
	margin-bottom: 13px;
	padding-left: 11px;
	padding-right: 11px;
}

.b-offers__label {
	position: absolute;

	padding: 0 10px;

	font-size: 10px;
	letter-spacing: .2em;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;

	border-radius: 12px;

	b, strong {
		font-size: 13px;
		letter-spacing: 0;
	}
}

.b-offers__label_date {
	bottom: 10px;
	right: 0;

	background: #252525;
}

.b-offers__label_coupons {
	bottom: 42px;
	right: 0;

	background: #e74c3c;
}

.b-offers__label_bonuses {
	left: 0;
	top: 10px;

	background: #acc000;
}

.b-offers__image {
}

.b-offers__text {
	p {
		margin-bottom: 0;
	}
}
